<footer>
  <div class="portfolio-contact">
    <div class="footer-section">
      <h3>Portfolio</h3>
      <ul>
        <li><a href="http://delakumahor.com/vfc/">Vodafone Farmers’ Club</a></li>
        <li><a href="http://delakumahor.com/fido/">Fido Money Lending</a></li>
        <li><a href="http://delakumahor.com/chnotg/">CHN On The Go</a></li>
        <li><a href="http://delakumahor.com/alu/">Alcatel-Lucent MiViewTV</a></li>
        <li><a href="http://delakumahor.com/beta/">beta unopuntozero</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Get in touch</h3>
      <form action="" method="POST" class="contact-form">
        <div class="contact-form-fields">
    		  <div class="sow-form-field sow-form-field-email">
          <span class="sow-field-container">
            <input type="email" name="your-email-address---5a65f1b536763" id="sow-contact-form-field-your-email-address---5a65f1b536763" value="" class="sow-text-field" placeholder="Your Email Address  *">
    		  </span>
        </div>
          <div class="sow-form-field sow-form-field-textarea">
          <span class="sow-field-container">
            <textarea name="your-message---5a65f1b536763" id="sow-contact-form-field-your-message---5a65f1b536763" rows="10" placeholder="Your Message  *"></textarea>
    		  </span>
        </div>
        </div>
        <input type="hidden" name="instance_hash" value="ec2b9edee01af5561e646b33275dccb7">
        <input type="hidden" id="_wpnonce" name="_wpnonce" value="f819ed26a4">
        <input type="hidden" name="_wp_http_referer" value="/">
        <input type="hidden" id="_wpnonce" name="_wpnonce" value="f819ed26a4">
        <input type="hidden" name="_wp_http_referer" value="/">
        <div class="sow-submit-wrapper ">
          <input type="submit" value="Send" class="sow-submit">
        </div>
      </form>
    </div>
  </div>
  <div class="copyright-row">
    <p class="copyright">©2018 <a href="mailto:{{ site.email }}">{{ site.title }}</a></p>
  </div>
</footer>
