<header class="site-header">
  <div class="toggle-container">
    <div class="menu-toggle" /></div>
  </div>
  <a class="masthead" href="/index.html">
    Dela A. Kumahor<br>
    <span class="masthead-title">Designer + Researcher</span>
  </a>
  <div class="menu-dropdown">
    <div class="project-thumbnails">
      {% include project-grid.html %}
    </div>
    <div class="menu-footer">
      <a href="https://www.linkedin.com/in/dela-andy-kumahor-3aa5b44/" target="_blank"><i class="icon ion-social-linkedin"></i></a>
      <a href="https://twitter.com/delak" target="_blank"><i class="icon ion-social-twitter"></i></a>
      <a href="https://www.instagram.com/delak/" target="_blank"><i class="icon ion-social-instagram"></i></a>
      <a href="mailto:{{ site.email }}"><i class="icon ion-email"></i></a>
    </div>
  </div>
  <div class="click-blocker"></div>
</header>
