<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="PSMweDGZU2sXL5RRWHx941YoT1Yu52Ba4EAaAIQQHgM" />
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link href="https://fonts.googleapis.com/css?family=Encode+Sans:200,300,400,500,600|Titillium+Web:200,300,400,600" rel="stylesheet">
  {% feed_meta %}
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css">
  <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
  {% if page.layout == "project" %}
    <title>{{ page.projectname }}  |  Dela A. Kumahor</title>
    <script src="/assets/dak.js"></script>
  {% elsif page.layout == "home" %}
    <title>Dela A. Kumahor</title>
    <script src="/assets/dak-home.js"></script>
  {% elsif page.layout == "about" %}
    <title>About Me  |  Dela A. Kumahor</title>
    <script src="/assets/dak.js"></script>
  {% else %}
    <title>Dela A. Kumahor</title>
    <script src="/assets/dak.js"></script>
  {% endif %}
</head>
