{% for p in site.pages %}

  {% if p.layout == 'project' and p.draft != true %}
    {% assign printable = true %}

    {% for t in p.path %}
      {% if t contains 'private' %}
        {% unless page.path contains 'private' %}
          {% assign printable = false %}
        {% endunless %}
      {% endif %}
    {% endfor %}

    {% if printable == true %}
      {% if p.card == 'case' %}
      <div class="{{ p.shortcode }} project card-only" style="order: {{ p.order }}">
        <a class="project-link" href="{{ p.url }}">
          <div class="project-image">
            <div class="question-wrapper">
              <span class="project-question">{{ p.question }}</span>
            </div>
          </div>
        </a>
        <div class="title-wrapper">
          <div class="project-question">{{ p.question }}</div>
          <a href="{{ p.url }}">{{ p.projectname }}</a>&nbsp;<span class="link-arrow">»</span>
        </div>
      </div>
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}
    </div>
    <hr>
    <div class="section-title snippets">
      <h3>Other Projects</h3>
    </div>
    <div class="snippet-box">
      {% for x in site.pages %}
        {% if printable == true and x.card == 'snippet' %}
        <div class="{{ x.shortcode }} project snippet" style="order: {{ x.order }}">
          <div class="snippet-body">
            <div class="snippet-top">
              <div class="project-image" data-images="{{ x.slider-images }}" data-this-image="0" style="background-position: 0">
                <div class="question-wrapper">
                  <span class="project-question">
                    {{ x.question }}
                  </span>
                </div>
              </div>
              <div class="slider-nav-container">
                <div class="slider-nav nav-left disabled-btn"><i></i></div>
                <div class="slider-nav nav-right"><i></i></div>
              </div>
              <div class="slider-show-btn"><div class="show-btn-icon"></div></div>
            </div>
            <div class="project-label">
              <div class="project-label__body">
                <div class="project-headline">{{ x.question }}</div>
                {{ x.intro }}
              </div>
            </div>
          </div>
          <div class="title-wrapper">
            <div class="project-question">{{ x.question }}</div>
            <div class="slider-show-btn"><div class="show-btn-icon"></div></div>
            <div class="project-meta">
              <span><strong>Client:</strong> {{ x.client }}</span>
              <span><strong>Date:</strong> {{ x.dates }}</span>
              <span><strong>Role:</strong> {{ x.role }}</span>
            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}
