{% for p in site.pages %}
  {% if p.layout == 'project' %}
    {% if p.shortcode == page.shortcode %}
    <div id="{{ p.shortcode }}" class="project current" style="order: {{ p.order }}">
    {% else %}
    <div id="{{ p.shortcode }}" class="project" style="order: {{ p.order }}">
    {% endif %}
      <div class="project-image-box">
        <a href="/{{ p.shortcode }}.html">
          {% if page.layout == 'project' %}
          <div class="project-image" style="background-image: url('{{ site.imagepath }}thumbnails/{{ p.shortcode }}-thumb-bg.jpg')"></div>
          {% else %}
          <div class="project-image" style="background-image: url('{{ site.imagepath }}thumbnails/{{ p.shortcode }}-thumb-bg.jpg')">
            <div class="project-desc-box">
              <p>
                <span class="proj-desc">{{ p.projectname }}</span>
              </p>
            </div>
          </div>
          {% endif %}
        </a>
      </div>
      <div class="project-title">
        <a href="/{{ p.shortcode }}.html">{{ p.question }}</a>
      </div>
      <div class="project-category">{{ p.categories }}</div>
    </div>
  {% endif %}
{% endfor %}
    <div class="project fill-empty-space" style="order: 100"></div>
    <div class="project fill-empty-space" style="order: 101"></div>
    <div class="project fill-empty-space" style="order: 102"></div>
    <div class="project fill-empty-space" style="order: 103"></div>
