<ul class="social-links">
  <li>
    <span class="contact-button location"></span>
  </li>
  <li>
    <a class="contact-button email" href="mailto:{{ site.email }}">
      <span class="tooltip">Email</span>
    </a>
  </li>
  <li>
    <a class="contact-button linkedin" href="https://www.linkedin.com/in/dela-kumahor/" target="_blank">
      <span class="tooltip">LinkedIn</span>
    </a>
  </li>
  <li>
    <a class="contact-button twitter" href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
      <span class="tooltip">Twitter</span>
    </a>
  </li>
  <li>
    <a class="contact-button five-oha-px" href="https://www.500px.com/dak/" target="_blank">
      <span class="tooltip">500px</span>
    </a>
  </li>
  <li>
    <a class="contact-button instagram" href="https://www.instagram.com/delak/" target="_blank">
      <span class="tooltip">Instagram</span>
    </a>
  </li>
</ul>
