<ul class="social-links">
  <li>
    <span class="contact-button location"></span>
  </li>
  <li>
    <a class="contact-button email" href="mailto:{{ site.email }}"></a>
  </li>
  <li>
    <a class="contact-button linkedin" href="https://www.linkedin.com/in/dela-kumahor/" target="_blank"></a>
  </li>
  <li>
    <a class="contact-button twitter" href="https://twitter.com/{{ site.twitter_username }}" target="_blank"></a>
  </li>
  <li>
    <a class="contact-button 500px" href="https://www.500px.com/dak/" target="_blank"></a>
  </li>
  <li>
    <a class="contact-button instagram" href="https://www.instagram.com/delak/" target="_blank"></a>
  </li>
</ul>
