/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

h1, h2, h3, h4, h5, h6, blockquote {
  font-family: $display-font-family;
}


.section-title {
  position: relative;
  left: 50%;
  float: left;

  h3 {
    font: {
      size: 0.8em;
      weight: $font-regular;
    }
    color: $brand-color2;
    text-transform: uppercase;
    position: relative;
    left: -50%;
    top: -10px;
    float: left;
    text-align: center;
    background-color: $background-color;
    padding: 0 $global-padding;
    z-index: 50;
    @extend %clearfix;
  }
}


hr {
  opacity: 0.3;
}




/**
 * Superscript
 */
sup {
    vertical-align: super;
    font-size: smaller;
}


/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}


/**
 * Lists
 */
ul, ol {
  list-style-type: none;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

ul {
  color: $brand-color2;

  li {
    padding-left: 0.7em;
    text-indent: -.7em;

    &::before {
      content: "• ";
      color: $brand-color;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}


/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;
  font-weight: $font-regular;
  transition-duration: 0.5s;
  border-bottom: 1px dotted rgba(79, 93, 117, 0.3);

  .menu-link & {
    color: $brand-color4;
  }

  &:hover, &:active {
    color: $link-hover-color;
    transition-duration: 0.1s;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


mark {
  padding: 0.125em 0.25em 0.3125em;
  background-color: lighten($brand-color, 47%);
  color: $brand-color2;

  .project-info & {
    padding: 0;
  }
}

.highlight {
  color: $brand-color;
  font-weight: $font-bold;
}


/**
 * Social buttons
 */
.social-links {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 10px 0 0;
  padding-bottom: 30px;
  justify-content: space-between;

  li {
    padding: 0;
    text-indent: 0;
    &::before {
      content: "";
    }
    clear: both;

    .contact-button {
      background: {
        size: contain;
        position: left center;
        repeat: no-repeat;
      }
      border-width: 0;
      float: left;

      &::before {
        content: "";
        border: {
          width: 0;
          radius: 20%;
          style: solid;
        }
        background: {
          color: transparent;
          size: contain;
        }
        display: inline-block;
        position: relative;
        top: 5px;
        width: 20px;
        height: 20px;
        margin-right: 1px;
      }

      &::after {
        border-bottom: 1px dotted rgba(79, 93, 117, 0.3);
        font-size: 0.9em;
      }

      &.email {
        &::before { background-image: url('/assets/images/icons/email.svg'); }
        &::after { content: "Email"; }
      }
      &.linkedin {
        &::before { background-image: url('/assets/images/icons/linkedin.svg'); }
        &::after { content: "LinkedIn"; }
      }
      &.twitter {
        &::before { background-image: url('/assets/images/icons/twitter.svg'); }
        &::after { content: "Twitter"; }
      }
    }
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: $brand-color;
  @include relative-font-size(1.125);

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}




/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-1200) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}







/**
 * Icons
 */

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$grey-color};
    padding-right: 5px;
    vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}


/**
 * Selection color
 */
::-moz-selection {
	color: #fff;
  background: $brand-color;
}

::selection {
  color: #fff;
  background: $brand-color;
}

/**
 * Image defaults
 */
 %image-default {
 	position: relative;
 	background-position: center center;
  background-size: cover;
 	width: 100%;
 	height: 0;
 	margin: $global-padding 0;

  & a {
    position: absolute;
  	display: block;
    cursor: zoom-in;
    top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  }
 }

/**
* Flex default
*/
 %flex-default {
   -webkit-align-items: flex-start;
   align-items: flex-start;
 	 display: -webkit-flex;
   display: flex;
   -ms-flex-wrap: wrap;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -ms-justify-content: space-between;
   -webkit-justify-content: space-between;
   justify-content: space-between;
 }


 /**
  * Archetpe rankings
  */
 .archetype-ranking {
   margin-bottom: 10px;
   padding: 6px 10px 0;
   background-color: $brand-color3;

   .ranking-box {
     height: 50px;
     margin-bottom: 10px;
     background: {
       image: url('/assets/images/icons/ranking.svg');
       repeat: no-repeat;
       size: 152px;
     }

     &:last-child {
       margin-bottom: 0;
     }

     h5 {
       font-weight: $font-semi-bold;
     }

     &.rank-zero { background-position: 0 35px; }
     &.rank-one { background-position: 0 -45px; }
     &.rank-two { background-position: 0 -115px; }
     &.rank-three { background-position: 0 -185px; }
     &.rank-four { background-position: 0 -255px; }
     &.rank-five { background-position: 0 -325px; }
   }
 }
