/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  height: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

h1, h2, h3, h4, h5, h6, blockquote {
  font-family: $display-font-family;
}


.section-title {
  position: relative;
  left: 50%;
  float: left;

  h3 {
    font: {
      size: 0.8em;
      weight: $font-regular;
    }
    color: $brand-color2;
    text-transform: uppercase;
    position: relative;
    left: -50%;
    top: -10px;
    float: left;
    text-align: center;
    background-color: $background-color;
    padding: 0 $global-padding;
    z-index: 50;
    @extend %clearfix;
  }
}


hr {
  opacity: 0.3;
}


.section-intro {
  margin-top: 60px;
  font-size: 20px;

  h2 {
    font: {
      weight: $font-regular;
      size: 1.25em;
    }
    color: $brand-color;
    margin-bottom: 10px;
    padding-bottom: 3px;
    display: inline-block;
  }

  p {
    font: {
      weight: $font-regular;
    }
    line-height: 32px;
  }
}




/**
 * Superscript
 */
sup {
    vertical-align: super;
    font-size: smaller;
}


/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}


/**
 * Lists
 */
ul, ol {
  list-style-type: none;
  counter-reset: item;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

ul {
  color: $brand-color2;

  li {
    padding-left: 0.7em;
    text-indent: -0.7em;

    &::before {
      content: "• ";
      color: $brand-color;

      .info-pane-content & {
        content: "";
        color: $brand-color;
      }
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}

ol li {
  margin: 4px 0 0 1.1em;

  &::before {
    content: counter(item, lower-alpha) ".";
    color: $brand-color;
    counter-increment: item;
    position: absolute;
    text-align: right;
    margin-left: -1.1em;
  }
}


/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;
  font-weight: $font-regular;
  transition-duration: 0.5s;
  border-bottom: 1px dotted rgba(79, 93, 117, 0.3);

  .menu-link & {
    color: $brand-color4;
  }

  &:hover, &:active {
    color: $link-hover-color;
    transition-duration: 0.1s;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


mark {
  padding: 0.125em 0.25em 0.3125em;
  background-color: lighten($brand-color, 47%);
  color: $brand-color2;

  .project-info & {
    padding: 0;
  }
}


/**
 * Social buttons
 */
.social-links {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 10px 0 0;
  padding-bottom: 30px;
  justify-content: space-between;

  li {
    padding: 0;
    text-indent: 0;
    &::before {
      content: "";
    }
    clear: both;

    .contact-button {
      background: {
        size: contain;
        position: left center;
        repeat: no-repeat;
      }
      border-width: 0;
      float: left;

      &::before {
        content: "";
        border: {
          width: 0;
          radius: 20%;
          style: solid;
        }
        background: {
          color: transparent;
          size: contain;
        }
        display: inline-block;
        position: relative;
        top: 5px;
        width: 20px;
        height: 20px;
        margin-right: 1px;
      }

      &::after {
        border-bottom: 1px dotted rgba(79, 93, 117, 0.3);
        font-size: 0.9em;
      }

      &.email {
        &::before { background-image: url('/assets/images/icons/email.svg'); }
        &::after { content: "dela.kumahor@gmail.com"; }
      }
      &.linkedin {
        &::before { background-image: url('/assets/images/icons/linkedin.svg'); }
        &::after { content: "LinkedIn"; }
      }
      &.twitter {
        &::before { background-image: url('/assets/images/icons/twitter.svg'); }
        &::after { content: "Twitter"; }
      }
      &.instagram {
        &::before { background-image: url('/assets/images/icons/instagram.svg'); }
        &::after { content: "Instagram"; }
      }
      &.location {
        &::before { background-image: url('/assets/images/icons/location.svg'); }
        &::after { content: "Accra, Ghana (UTC ± 00:00)"; border: none; }
      }
    }
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: $brand-color;
  @include relative-font-size(1.125);

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}




/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-1200) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}







/**
 * Icons
 */
.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$grey-color};
    padding-right: 5px;
    vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}


/**
 * Selection color
 */
::-moz-selection {
	color: #fff;
  background: $brand-color;
}

::selection {
  color: #fff;
  background: $brand-color;
}

/**
 * Image defaults
 */
%image-default {
  position: relative;
  display: inline-block;
	background-position: center center;
  background-size: cover;
  box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin: $global-padding 0;

  & a {
    position: absolute;
  	display: block;
    cursor: zoom-in;
    top: 0;
  	left: 0;
    right: 0;
    bottom: 0;
  	width: 100%;
  	height: 100%;
  }
}

/**
* Flex default
*/
%flex-default {
  -ms-align-items: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  display: -ms-flex;
  display: flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}


 /**
  * Archetpe rankings
  */
.archetype-ranking {
  margin-bottom: 10px;
  padding: 6px 10px 12px;
  background-color: $brand-color3;

  h5 {
    margin-bottom: 0;
  }

  .ranking-box {
    width: 100%;
    height: 0;
    padding-top: 13.15%;
    margin: 5px 0 20px;
    background: {
      position: 0;
      repeat: no-repeat;
      size: contain;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.rank-zero { background-image: url('/assets/images/icons/ranking_0.svg'); }
    &.rank-one { background-image: url('/assets/images/icons/ranking_1.svg'); }
    &.rank-two { background-image: url('/assets/images/icons/ranking_2.svg'); }
    &.rank-three { background-image: url('/assets/images/icons/ranking_3.svg'); }
    &.rank-four { background-image: url('/assets/images/icons/ranking_4.svg'); }
    &.rank-five { background-image: url('/assets/images/icons/ranking_5.svg'); }
  }
}

blockquote.twitter-tweet {
  display: inline-block;
  padding: 16px;
  margin: 10px 0;
  max-width: 468px;
  border: #ddd 1px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  font: bold 14px/18px Helvetica, Arial, sans-serif;
  color: #000;
}

blockquote.twitter-tweet p {
  font: normal 18px/24px Georgia, "Times New Roman", Palatino, serif;
  margin: 0 5px 10px 0;
}

blockquote.twitter-tweet a[href^="https://twitter.com"] {
  font-weight: normal;
  color: #666;
  font-size: 12px;
}
