/* #HOMEPAGE-Intro */
.hello-section {
	overflow: hidden;
  background-color: $background-color;
	min-height: 25em;
	margin: 10em 0 6.25em;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: flex-end;
	-ms-flex-align: flex-end;
	align-items: flex-end;
	@include media-query($on-780) {
		min-height: auto;
		padding-top: 80px;
		padding-bottom: 80px;
	}
	@include media-query($on-680) {
		min-height: auto;
		padding-bottom: 30px;
	}

	.hello-intro-bio {
		@include project-sizer;

		.hello-intro {
			font: {
				family: $display-font-family;
				size: 3.8em;
				weight: $font-light;
			}
			margin-bottom: calc(2 * #{$grid-height});
			line-height: 1.1em;
			color: $brand-color;
			padding-left: 0.7em;
	    text-indent: -0.7em;
			margin-left: -0.8em;
			@include media-query($on-780) {
				font-size: 8vw;
				line-height: 10vw;
				/*margin: 4vh 0; */
			}
			@include media-query($on-680) {
				font-size: 40px;
    		line-height: 45px;
    		/*margin: 10px 0; */
			}

	    &::before {
	      content: "* ";
	      color: $brand-color;
				font-weight: $font-semi-bold;
	    }

			@at-root {
				.grey-out {
					color: rgba($brand-color2, 0.7);
					font-weight: $font-lightest;
				}

				.slash-space {
					padding: 0 7px;
				}
			}
		}

		.hello-bio {
			padding-right: 35%;
			@include media-query($on-1024) {
				padding-right: 0;
			}

			p {
			  font: {
					size: 1.4375em;
					weight: $font-regular;
					family: $display-font-family;
				}
			  line-height: 1.8em;
				color: $brand-color4;
				margin-bottom: 40px;

				@include media-query($on-680) {
					font-size: 1.25em;
    			line-height: 1.8em;
    			margin-bottom: 4vh;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

/* #HOMEPAGE-Portfolio */
.project-section {
	padding-bottom: 100px;
	@include project-sizer;

	.section-title {
		margin-bottom: 80px;

		&.snippets {
			margin-bottom: 50px;
		}
	}

	.project-thumbnails {
		display: -webkit-flex;
		display: flex;
		-ms-flex-flow: row wrap;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		width: auto;
		justify-content: space-between;
		clear: both;

		&.snippets {
			-ms-flex-flow: column nowrap;
			-webkit-flex-flow: column nowrap;
			flex-flow: column nowrap;
			justify-content: flex-start;
			margin: 0 -20px;
			overflow: hidden;
		}
	}

	.snippets-intro {
		width: calc(33.333333333333% - 1em);;
		float: right;

		hr {
			margin: 3em 0 0.5em;
		}
	}

	.snippet-box {
		width: 100%;
		margin-top: $global-padding;
		margin-bottom: 80px;
		display: -webkit-flex;
		display: flex;
		-ms-flex-flow: column wrap;
		-webkit-flex-flow: column wrap;
		flex-flow: column wrap;
	}
}

/* #PROJECT-THUMBNAILS-generator */
.project {
	position: relative;
	margin-bottom: 80px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: -webkit-flex;
	display: flex;
	-ms-flex-flow: row nowrap;
	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
	overflow: hidden;
	justify-content: space-between;
	@include all-transition($transition-time);

	a, .snippet-body {
		width: calc(66.66666666666% - 1em);
		height: 100%;
		@include media-query($on-680) {
			width: 100%;
		}
	}

	.project-link {
		overflow: hidden;
		border: none;
	}

	.snippet-body {
		cursor: pointer;
		border: 0 solid rgba($brand-color4, 0.15);
		overflow: hidden;
		min-height: $snippet-height;
		position: relative;
		@include all-transition($transition-time);
	}

	.title-wrapper {
		position: relative;
		left: 0;
		width: calc(33.333333333333% - 1em);
		margin-top: -8px;
		@include all-transition($transition-time);
		@include media-query($on-680) {
			display: none;
		}

		&.odd-proj {
			text-align: right;

			a {
				display: inline-block;
				margin-right: 0.5em;
			}

			.link-arrow {
				margin-right: 0.5em;
			}
		}

		hr {
			margin: 1em 0;
		}

		a {
			color: $brand-color4;
		}

		.link-arrow {
			font: {
				weight: $font-regular;
				size: 1.2em;
			}
			color: $brand-color;
			border: none;
			@include all-transition($transition-time);
		}
	}

	.project-image {
		width: 100%;
		height: 22em;
		overflow: hidden;
		box-sizing: border-box;
		position: relative;
		z-index: 100;
		background: {
			position: center;
			size: cover;
			color: lighten($brand-color, 40%);
			repeat: no-repeat;
			blend-mode: multiply;
		}
		@include all-transition($transition-time);

		.question-wrapper {
			position: absolute;
			left: 4em;
			right: 4em;
			bottom: 3.6em;
			opacity: 0;
			@include all-transition($transition-time);
			@include media-query($on-680) {
				opacity: 1;
			}

			@at-root {
				.project-question {
					font: {
						family: $display-font-family;
						size: 1.8em;
						weight: $font-regular;
					}
					color: $brand-color4;
					display: inline;
					box-shadow: 0.347em 0 0 $question-color, -0.308em 0 0 $question-color;
					box-decoration-break: clone;
					background-color: $question-color;
					padding: 0.12em 0;
					line-height: 1.5em;
					@include all-transition($transition-time);
					@include media-query($on-680) {
						font-size: 24px;
					}
					@include media-query($on-376) {
						font-size: 1.4em;
					}

					strong {
						font-weight: 500;
						color: $brand-color;
						@include all-transition($transition-time);
					}
				}
			}
		}
	}

	.project-label {
		width: 100%;
		z-index: -2;
		background-color: rgba($brand-color3, 0.5);
		transition: none;
		display: none;

		.project-label__body {
			font: {
				size: 1em;
				weight: $font-regular;
				family: $display-font-family;
			}
			color: $brand-color2;
			padding: 30px 40px;
			line-height: 1.7em;
			-webkit-column-count: 2;
     	-moz-column-count: 2;
			column-count: 2;
			-webkit-column-gap: 25px;
     	-moz-column-gap: 25px;
			column-gap: 25px;
			-moz-column-fill: auto;
       column-fill: auto;
			 z-index: -1;
			@include all-transition($transition-time);
			@include media-query($content-width) {
				column-count: 1;
				font-size: 2.1vw;
			}
			@include media-query($on-780) {
				font-size: 1em;
			}

			.project-meta {
				font-size: 0.9em;
				line-height: 1.55em;
				margin-bottom: 2em;
				opacity: 0.7;

				hr {
					margin-bottom: 1.7em;
				}

				span {
					display: inline-block;
					margin-bottom: 0.5em;
				}
			}

			strong {
				color: $brand-color2;
				font-weight: 500;
			}

			p {
				margin-bottom: 1.7em;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	&.snippet {
		margin-bottom: 0;
		min-height: $snippet-height;
		@include media-query($on-680) {
			margin-bottom: 1em;
		}

		.project-image {
			max-height: $snippet-height;
			background-color: lighten($brand-color, 45%);
			background-position: left;

			.question-wrapper {
				left: 2.5em;
				right: 2.5em;
				bottom: 2.1em;
				@include media-query($on-680) {
					left: 1.1em;
					right: 1.1em;
					bottom: 0.9em;
				}

				.project-question {
					white-space: normal;
					font-size: 1.4em;
					line-height: 1.5em;
					@include media-query($on-680) {
						font-size: 1em;
					}
					@include media-query($on-376) {
						font-size: 0.85em;
						line-height: 1em;

						& br {
							display: none;
						}
					}
				}
			}
		}

		.title-wrapper {
			cursor: pointer;
			display: inline-block;
			max-height: $snippet-height;
			line-height: $snippet-height;
			margin-top: -1em;
			padding: 1em 0;
			position: relative;
			@include media-query($on-680) {
				display: none;
			}

			.project-question {
				display: inline-block;
				vertical-align: middle;
				margin-top: -0.4em;
				font-size: 1em;
			}

			hr {
				margin: 0;
				position: absolute;
				bottom: 0.5em;
				width: 100%
			}
		}

		.slideshow-nav-container {
			position: absolute;
			left: calc(66.66666666666% + 0.5em);
			top: 0;
			opacity: 0;
			display: none;
			z-index: 100;

			.slideshow-nav {
				display: block;
				cursor: pointer;
				width: 2.5em;
				height: 2.5em;
				margin-bottom: 0.5em;
				background-color: $background-color;
				border: 2px solid rgba($brand-color4, 0.15);

				i {
					position: absolute;
		      margin-top: 16px;
		      right: 50%;

		      &:before , &:after {
		        content: "";
		        @include all-transition(0.4s);
		        position: absolute;
		        background-color: $brand-color;
		        width: 4px;
		        height: 13px;
					}

		      &:before {
		        transform: translate( -4px , 0 ) rotate( 45deg );
					}

		      &:after {
		        transform: translate( 4px , 0 ) rotate( -45deg );
					}
				}

				&.nav-left {
					opacity: 0.5;

					i {
						transform: translate( -6px , 6px ) rotate( -90deg );
					}
				}

				&.nav-right {
					i {
						transform: translate( 6px , 2px ) rotate( 90deg );
					}
				}
			}

			&.animatable {
				display: block;
				@include all-transition(0.4s);
			}
		}
	}

	&:hover {
		.project-image {
			background-color: transparent;
			transform: scale(1.06);
		}

		&.snippet .project-image {
			background-position: center 45%;
			transform: none;
		}

		.title-wrapper {

			a, strong {
				color: $link-hover-color;
			}
		}

		.link-arrow {
			margin-left: 0.5em;
		}

		.odd-proj {
			.link-arrow {
				margin-right: 0;
			}
		}
	}

	&.animatable {
		.project-label {
			display: block;
			@include all-transition(0.4s);
		}
	}

	&.snippet-show {
		margin: 30px 0;

		.snippet-body {
			box-sizing: border-box;
			border-width: 2px;
		}

		&.snippet .project-image {
			background: {
				color: transparent;
				position: 0%;
				size: cover;
			}
			max-height: 18.5em;

			.question-wrapper {
				opacity: 1;
			}
		}

		.project-label {
			margin-top: 0 !important;
		}

		.title-wrapper {
			cursor: default;
			opacity: 0;
		}

		.slideshow-nav-container {
			opacity: 1;
		}
	}

	&.fill-empty-space {
		border: none;
		background: none;
		height: 0;
		margin: 15px;
	}
}

/* #HOMEPAGE-About-section */
.about-section {
	padding: 150px 0 80px;
	background-color: $background-color;
	@include project-sizer;
}

.bio-container {
	margin: 0 -20px 0;
	display: -webkit-flex;
	display: flex;
	-ms-flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;

	.headshot {
		display: inline-block;
		margin: 10px 20px 0;
		width: calc(30% - (2 * 20px));
		padding: 0 10px;
		box-sizing: border-box;
		@include media-query($on-780) {
			display: none;
		}

		.bio-footer {
	    @include media-query($on-1100) {
	      justify-content: space-around;

	      .contact-button::before {
	        width: 1.8em;
	        height: 1.8em;
	      }

	      .contact-button::after {
	        display: none;
	      }
	    }
	  }
	}

	.bio {
		display: inline-block;
		font-weight: $font-regular;
		margin: 20px;
		width: calc(70% - (2 * 20px));
		@include media-query($on-780) {
			width: 100%;
		}

		h2 {
			font: {
				size: 3.125em;
				weight: $font-light;
			}
			line-height: 1.3em;
			color: $brand-color;
			margin-bottom: 10px;
		}

		p {
			font-size: 1.125em;
			color: $brand-color4;
			line-height: 1.6em;
			margin-bottom: 1.6em;
			@include media-query($on-780) {
				font-size: 1.1em;
			}

			&:last-of-type {
				margin-bottom: 0;
			}

			strong {
				font-weight: $font-semi-bold;
			}

			img {
				display: none;
				width: 160px;
				float: left;
				margin-right: 20px;
				@include media-query($on-780) {
					display: inline;
				}
				@extend %clearfix;
			}

			&.no-break {
				margin-bottom: 0;
			}
		}

		hr {
			margin-top: 100px;
		}

		@at-root {
			h4.section-title {
				font: {
					size: 1.2em;
					weight: $font-regular;
				}
				position: relative;
				color: $brand-color;
				display: inline;
				line-height: 30px;
				padding-top: 3px;
			}
		}

		.more-link {
			font-size: 0.8em;
			margin: 2px 10px 4px;
			text-align: right;
		}

		.services-container {
			margin: 1.6em -0.6em;
			display: -webkit-flex;
			display: flex;
			-ms-flex-flow: row wrap;
			-webkit-flex-flow: row wrap;
			flex-flow: row wrap;
			justify-content: flex-start;

			.service-box {
				width: calc(33.333333333% - 1.2em);
				min-width: 11em;
				margin: 0.6em;
				padding: 0.7em 1.1em 0.4em;
				box-sizing: border-box;
				font-size: 0.9em;
				background-color: lighten($brand-color, 50%);
				flex: 1;

				h4 {
					font-weight: $font-semi-bold;
					margin-bottom: 0.2em;
					padding-bottom: 0.2em;
					border-bottom: 1px dotted rgba($brand-color, 0.3);
				}

				p, li {
					color: $brand-color4;
					line-height: 1.4em;
					margin-top: 0.5em;
				}
			}
		}

		.logo-grid {
			display: -webkit-flex;
			display: flex;
			-ms-flex-flow: row wrap;
			-webkit-flex-flow: row wrap;
			flex-flow: row wrap;
			margin: 0 calc(-1 * 1.25em);
			justify-content: flex-start;

			.logo-box {
				width: calc(20% - (2 * 1.25em));
				min-width: 5em;
				margin: 1.25em;
				opacity: 0.7;
				flex: 1;
			}
		}
	}
}

.image-grid-container {
	margin-top: calc(2 * #{$global-padding});
	clear: both;

	.image-grid {
		display: -webkit-flex;
		display: flex;
		-ms-flex-flow: column wrap;
		-webkit-flex-flow: column wrap;
		flex-flow: column wrap;
		max-height: 490px;
		margin: 0 -8px;
		overflow: hidden;
		@include media-query($content-width) {
			max-height: 400px;
		}
		@include media-query($on-780) {
			max-height: 490px;
		}
		@include media-query($on-680) {
			max-height: 400px;
		}
		@include media-query($on-540) {
			max-height: 720px;
		}
		@include media-query($on-376) {
			max-height: 540px;
		}

		.image-box {
			position: relative;
			margin: 8px;
			width: calc(33.33333333333333333% - (2 * 8px));
			border: 2px solid $brand-color3;
			box-sizing: border-box;
			@include media-query($on-540) {
				width: calc(50% - (2 * 8px));
			}

			a {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border: none;
			}
		}
	}

	&.dribbble .image-grid {
		-ms-flex-flow: row wrap;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		justify-content: flex-end;
		@include media-query($on-540) {
			justify-content: flex-start;
		}
	}
}

/* #404-page */
.errorpage {
	.hello-section {
		@include media-query($on-780) {
			min-height: auto;
			padding: 80px 10%;
		}
		@include media-query($on-680) {
			min-height: auto;
			padding: 70px 10% 30px;
		}

		.hello-intro-bio {
			@include project-sizer;
		}
	}

	.sorry-container {
		font-size: 64px;
		line-height: 80px;
		color: $brand-color4;
		@include media-query($on-780) {
			font-size: 8vw;
			line-height: 10vw;
			margin: 4vh 0;
		}
		@include media-query($on-680) {
			font-size: 40px;
			line-height: 45px;
			margin: 10px 0;
		}

		.shrug {
			color: $brand-color;
			font-weight: $font-semi-bold;

			.shrug-light {
				font-weight: $font-light;
			}
		}

		.call-to-action {
			font: {
				size: 20px;
				weight: $font-light;
			}
			line-height: 33px;
			margin-top: 40px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	footer {
		margin-top: 0;
	}
}

/* #PORTFOLIO-Project-intro */
.intro-container {
	padding-bottom: 30px;
	@extend %flex-default;
	@include media-query($on-780) {
		padding-bottom: 50px;
	}
	@include media-query($on-680) {
		padding-bottom: 30px;
	}

	.masthead-box {
		@include project-sizer;
	}

	.project-masthead-bg {
		width: 100%;
		margin-bottom: 16px;
		background: {
			size: cover;
			repeat: no-repeat;
			position: left center;
		}
	}

	.project-name {
		margin-top: 180px;
		margin-bottom: 40px;
		line-height: 3.4em;
		color: $brand-color;
		letter-spacing: 0;
		width: 100%;
		position: relative;
		box-sizing: content-box;
		text-align: center;

		h1 {
			font: {
				size: 3em;
				weight: $font-light;
				family: $display-font-family;
			}
		}

	}

	.intro-image {
		width: 100%;
		height: 0;
		padding-top: 40%;
		position: relative;
		background: {
			position: center center;
			repeat: no-repeat;
			size: contain;
		}
	}

	.info-stats {
		line-height: 32px;
		-ms-flex-flow: row nowrap;
		-webkit-flex-flow: row nowrap;
		flex-flow: row nowrap;
		@extend %flex-default;
		@include media-query($on-780) {
			-ms-flex-flow: column-reverse wrap;
			-webkit-flex-flow: column-reverse wrap;
			flex-flow: column-reverse wrap;
		}
		@include media-query($on-680) {
			font-size: 1em;
			line-height: 1.875em;
			margin-bottom: 0;
		}
		@include media-query($on-540) {
			-ms-flex-direction: column;
			-webkit-flex-direction: column;
			flex-direction: column;
		}

		.project-info {
			font: {
				size: 1.25em;
				weight: $font-regular;
			}
			width: 70%;
			padding-right: 30px;
			margin-top: -5px;
			@include media-query($on-780) {
				width: 100%;
				margin: 0;
				padding: 0;
			}
			@include media-query($on-540) {
				margin-bottom: 30px;
			}

			p {
				margin-bottom: 30px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.stat-title {
			font: {
				family: $display-font-family;
				size: .8125em;
				weight: $font-semi-bold;
			}
			line-height: 1em;
			margin-bottom: 0.3em;
			color: $brand-color;
			text-transform: uppercase;
		}

		.stats {
			width: 30%;
			padding-left: 30px;
			font-size: 16px;
			border-left: 2px solid $brand-color3;
			@include media-query($on-780) {
				width: 100%;
				display: -webkit-flex;
				display: flex;
				-ms-flex-flow: row nowrap;
				-webkit-flex-flow: row nowrap;
				flex-flow: row nowrap;
				margin: 0 -15px;
				border: none;
				padding: 0;
			}
			@include media-query($on-540) {
				-ms-flex-flow: column nowrap;
				-webkit-flex-flow: column nowrap;
				flex-flow: column nowrap;
			}

			.stat {
				margin-bottom: 30px;
				@include media-query($on-780) {
					margin: 0 15px 15px;
					flex: 0 1 33.33333333333%;
				}
				@include media-query($on-540) {
					margin-bottom: 30px;
				}

				&:last-child {
					margin-bottom: 0;
					@include media-query($on-780) {
						margin-bottom: 15px;
					}
				}
			}

			.stat-value {
				margin: 0 0 6px;
				line-height: 1.2em;

				&:last-child {
					margin-bottom: 0;
				}

				ul li {
					padding-bottom: 8px;
				}
			}
		}
	}
}

/* #PORTFOLIO-Write-up */
.write-up {
	@include project-sizer;
	margin-bottom: 80px;

	a {
		border: none;
	}

	.info-block {
		@extend %flex-default;
		@include media-query($on-780) {
			flex-direction: column;
		}
	}

	.caption-number {
		font: {
			size: 12px;
			weight: $font-bold;
		}
		text-align: center;
	 	border-radius: 20%;
		margin: $global-padding 0 0 $global-padding;
		display: inline-block;
		min-width: 20px;
		height: 20px;
		color: $brand-color3;
		line-height: 20px;
		background-color: rgba($brand-color, 0.8);
	}

	.ui-image {
		@extend %image-default;
		height: 600px;
		width: 1200px;
		left: calc( (100% - 1200px) * 0.5 );
		@include media-query($on-1100) {
			width: 100%;
			height: 0;
			padding-top: 50%;
			left: auto;
		}

		&.split-image {
			height: 320px;
		}
	}

	.full-width-image {
		@extend %image-default;
		height: 720px;
		width: 100vw;
		left: calc( (100% - 100vw) * 0.5 );
		@include media-query($on-1100) {
			width: 100%;
			height: 0;
			padding-top: 50%;
			left: auto;
		}
	}

	.main-image {
    @extend %image-default;
    padding-top: 47.87%;
    @include media-query($on-1100) {
      padding-top: 50%;
      left: auto;
    }
  }

	.wide-image {
		@extend %image-default;
		padding-top: 55%;
	}

	.half-image {
		@extend %image-default;
		padding-top: 33%;
		width: calc(50% - #{$global-padding});
		@include media-query($on-1024) {
			flex-basis: 100%;
			padding-top: 55%;
		}
		@include media-query($on-780) {
			padding-top: 55%;
		}
	}

	.tall-image {
		@extend %image-default;
		padding-top: 180%;
	}

	.image-grid-full {

		.half-image {
			padding-top: 27%;
		}

		video {
			margin-top: 15px;
		}
	}

	.image-grid-left {
		width: calc(66.6666666666% - #{$global-padding});
		@include media-query($on-1024) {
			width: calc(50% - #{$global-padding});
		}
		@include media-query($on-780) {
			flex-direction: column;
			width: 100%;
		}
	}

	.image-row {

		.wide-image {
			padding-top: 40%;
			width: calc(76.6% - #{$global-padding});
		}

		.half-image {
			padding-top: 45%;
		}

		.tall-image {
			padding-top: 40%;
			width: calc(23.4% - #{$global-padding});
		}

		.phone-image {
			@extend %image-default;
			padding-top: 62%;
			width: calc(33.3333333333333% - #{$global-padding});
		}

		video {
			position: absolute;
			left: 0;
			z-index: -1;
		}
	}

	.image-stroke div {
		border: 1px solid $grey-color;
	}

	.info-pane {
		margin-bottom: calc(1.5 * (#{$global-padding}));
		line-height: 24px;
		@include media-query($on-780) {
			width: 95%;
		}

		.info-pane-title {
			color: $brand-color;
			font: {
				family: $display-font-family;
				weight: 500;
			}

			.caption-number {
				color: $brand-color2;
				margin: 0 11px 0 -8px;
				background-color: rgba($background-color, 0.8);
				border: 1px solid $brand-color;
				border-radius: 20%;
				opacity: 1;
			}
		}

		.info-pane-content {
			margin-left: 26px;
			margin-top: -2px;
		}
	}

	.info-pane-list {
		width: calc(33.3333333333% - #{$global-padding});
		margin: $global-padding 0;
		@include media-query($on-1024) {
			width: calc(50% - #{$global-padding});
			padding-left: 10px;
		}
		@include media-query($on-780) {
			width: 100%;
			padding-left: 10px;
		}
	}

	.info-pane-row {
		@extend %flex-default;
		margin: $global-padding calc(-1 * 20px);
		justify-content: flex-end;
		@include media-query($on-780) {
			width: 100%;
			padding-left: 10px;
		}

		.info-pane {
			width: calc(33.3333333333% - (2 * 20px));
			margin-left: 20px;
			margin-right: 20px;
			@include media-query($on-780) {
				width: 95%;
			}
		}

		&.archetypes {
			margin: -15px -13px 0;

			.info-archetype {
				margin: 13px;
				min-width: calc(188px - 26px);
				flex-grow: 1;
				flex-shrink: 0;
				flex-basis: calc(20% - 26px);

				.info-pane-title {
					color: $brand-color;
					font: {
						family: $display-font-family;
						weight: 500;
					}
					margin-bottom: 4px;
				}

				.info-pane-content {
					margin: 0;
				}
			}
		}
	}

	.new-section {
		margin-top: 120px;
	}

	.section-intro {
		margin-top: 60px;
		font-size: 20px;

		h2 {
			font: {
				weight: $font-regular;
				size: 1.25em;
			}
			color: $brand-color;
			margin-bottom: 10px;
			padding-bottom: 3px;
			border-bottom: 1px solid rgba(79, 93, 117, 0.2);
			display: inline-block;
		}

		p {
			font: {
				weight: $font-regular;
			}
			line-height: 32px;
		}
	}

	.testimonial-quote {
		margin: 20px auto 50px;
		padding: 20px 0 0;
		border-top: 1px dotted rgba($brand-color4, 0.2);
		border-bottom: 1px dotted rgba($brand-color4, 0.2);
		text-align: center;

		blockquote {
			color: $brand-color;
			font-size: 30px;
			text-transform: none;
		}

		p {
			color: $brand-color4;
			font-size: 16px;
			text-transform: uppercase;
			line-height: 45px;
		}
	}
}

/* #MENU */
.site-header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	background-color: rgba($background-color, 0.95);
	border-bottom: 1px solid $brand-color3;
	@include all-transition($transition-time);
	@include media-query($on-680) {
		background-color: transparent;
		border-bottom: none;
		position: absolute;
	}

	.hamburger {
		width: 22px;
		height: 22px;
		padding: 4px;
		cursor: pointer;
		position: fixed;
		top: 11px;
		left: 20px;
		display: none;
		background: {
			image: url('/assets/images/icons/menu-icon-brand.svg');
			position: center center;
			size: 28px 28px;
			repeat: no-repeat;
			color: rgba($background-color, 0.95);
		}
		@include all-transition($transition-time);
		@include media-query($on-680) {
			display: block;
		}
	}

	.menu-wrapper {
		padding: 0.875em 0;
		margin-bottom: 0;
		@include project-sizer;
		font-size: 1em;
		display: -webkit-flex;
		display: flex;
		-ms-flex-flow: row wrap;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		justify-content: space-between;
		@include media-query($on-680) {
			-ms-flex-flow: column wrap;
			-webkit-flex-flow: column wrap;
			flex-flow: column wrap;
			align-items: center;
		}

		li {
			text-indent: 0;
			padding: 0;
			width: auto;
			&::before {
				content: "";
			}
			@include media-query($on-680) {
				font-size: 1.2em;
			}

			.masthead {
				font: {
					family: $display-font-family;
					weight: $font-semi-bold;
				}
				display: inline-block;
				letter-spacing: .03em;
				text-transform: uppercase;
				z-index: 1002;
				border-bottom: none;

				.masthead-title {
					font: {
						weight: $font-regular;
						size: 0.99em;
					}
					text-transform: none;
					color: $brand-color4;
					letter-spacing: 0;
					margin-top: -7px;
				}

				@include media-query($on-680) {
					text-align: center;
				}
			}

			&.menu-link {
				font: {
					family: $display-font-family;
					weight: $font-regular;
				}
				width: 200px;
				text-align: right;
				align-self: flex-end;
				margin-bottom: 1px;
				@include media-query($on-680) {
					margin-top: 30px;
					text-align: center;
					align-self: auto;
				}

				a {
					font-size: 0.99em;
					border-bottom: none;
				}
			}
		}
	}

	&.outerpage {
		background-color: rgba($background-color, 0.95);

		&.bg-whitener {
			background-color: rgba($background-color, 0.95);
		}
	}

	&.toggle-menu {
		position: fixed;
		background-color: rgba($background-color, 0.95);
		border-bottom: 1px solid $brand-color3;

		.hamburger {
			opacity: 1;
			background-size: 8px 28px;
			-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
		}
	}
}

/* #FOOTER */
.page-footer {
	background-color: $brand-color3;
	position: relative;
	z-index: 2000;

	.section-title h3 {
		padding-top: 35px;
		background-color: transparent;
		margin-bottom: 0;
	}

	.projects-container {
		@include project-sizer;

		.project-thumbnails {
			padding-bottom: 30px;
			margin: 0 calc(-1 * #{$global-padding});
			display: -webkit-flex;
			display: flex;
			-ms-flex-flow: row wrap;
			-webkit-flex-flow: row wrap;
			flex-flow: row wrap;
			clear: both;

			.project {
				margin: $global-padding;
				min-width: 180px;
				flex-grow: 1;
				flex-shrink: 0;
				flex-basis: calc(20% - (2 * #{$global-padding}));
				height: 200px;
				border: {
					color: $background-color;
					width: 3px;
					style: solid;
				}
				display: block;

				&.current {
					border-color: rgba($brand-color, 0.8);
				}

				&.fill-empty-space {
					border: none;
					display: none;
					height: 0;
					@include media-query($on-780) {
						display: block;
					}
				}
			}
		}
	}

	.project-footer-image-box {
		height: 100%;
		width: 100%;
		position: relative;
		overflow: hidden;

		.project-footer-image {
			background: {
				position: 50% 50%;
				size: cover;
				color: $background-color;
				repeat: no-repeat;
			}
			width: 100%;
			height: 100%;
			overflow: hidden;
			box-sizing: border-box;
			position: relative;

			.question-wrapper {
				position: absolute;
				left: 20px;
				bottom: 15px;

				.project-question {
					font-size: 1.1em;
					white-space: normal;
				}
			}

			&::before {
				content: "";
				background: none;
			}
		}
	}

	&.outerpage {
		@include project-sizer;
		margin-top: 0;
		background-color: $background-color;
	}

	.social-links {
		max-width: 20em;
		margin-left: auto;
	  margin-right: auto;
		justify-content: space-between;

		.contact-button {
      &::before {
        background-color: $brand-color;
        margin-right: 7px;
        width: 16px;
        height: 16px;
      }
      &.email:before { background-image: url('/assets/images/icons/email_white.svg'); }
      &.linkedin::before { background-image: url('/assets/images/icons/linkedin_white.svg'); }
      &.twitter::before { background-image: url('/assets/images/icons/twitter_white.svg'); }
    }
	}
}

/* #Fancybox */
.fancybox-container {
	svg {
		color: $brand-color;
		background-color: $background-color;

		&::before {
			border-color: $background-color;
		}
	}

	.fancybox-toolbar button {
		background-color: $background-color;
	}

	.fancybox-navigation {
		.fancybox-button {
			padding: 10px;

			::before {
				background-color: transparent;
			}

			svg {
				color: $background-color;
				background-color: $brand-color;
			}
		}
	}

	.fancybox-bg {
	  background: $background-color;
	}

	.fancybox-stage {
	  bottom: 50px !important;

		.fancybox-image-wrap {
			border: 8px solid $background-color;
		}
	}

	.fancybox-caption-wrap {
  	margin: 0 auto;
		background: transparent;

		.fancybox-caption {
			padding-bottom: 30px;
			color: $grey-color;
			font-size: 16px;
			font-weight: $font-regular;
			text-align: center;
			border: none !important;
		}
	}
}
