/* #HOMEPAGE-Intro */
.hello-section-container {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	background: $brand-color3 url("/assets/images/square_bg_2X.png") repeat fixed center;
	z-index: -100;
	@include media-query($on-680) {
		position: relative;
	}
}

.hello-section {
	overflow: hidden;
	padding: 12em 0 1.5em;
	@include makeflex(row);
	-webkit-box-align: flex-end;
	-ms-flex-align: flex-end;
	align-items: flex-end;
	@include media-query($on-780) {
		min-height: auto;
		padding-bottom: 80px;
	}
	@include media-query($on-680) {
		min-height: auto;
		padding-bottom: 30px;
	}

	.hello-intro-bio {
		@include project-sizer;

		.hello-intro {
			font: {
				family: $display-font-family;
				size: 2.3em;
				weight: $font-regular;
			}
			color: $brand-color;
			padding-left: 0.7em;
	    text-indent: -0.7em;
			margin-left: -0.8em;
			@include media-query($on-680) {
				font-size: 2em;
    		line-height: 1.3em;
			}

	    &::before {
	      content: "* ";
	      color: $brand-color;
				font-weight: $font-semi-bold;
	    }

			@at-root {
				.grey-out {
					color: rgba($brand-color2, 0.7);
					font-weight: $font-light;
				}

				.slash-space {
					padding: 0 7px;
				}
			}
		}

		.hello-bio {
			padding-right: 30%;
			@include media-query($on-1024) {
				padding-right: 0;
			}

			ol {
				margin-bottom: 40px;
			}

			li {
			  font: {
					size: 1.5em;
					weight: $font-regular;
					family: $display-font-family;
				}
			  line-height: 1.8em;
				color: $brand-color4;
				@include media-query($on-680) {
					font-size: 1.25em;
    			line-height: 1.8em;
				}

				&:last-child {
					margin-bottom: 0;
				}

				mark {
					background-color: $background-color;
				}
			}
		}
	}
}

/* #HOMEPAGE-Portfolio */
.project-section-container {
	width: 100%;
	background-color: $background-color;
}

.hello-drop-shadow {
	height: 30px;
	width: 100%;
	background-image: linear-gradient(transparent 50%, darken($brand-color3, 15%));
	opacity: 0.5;
	@include media-query($on-680) {
		margin-top: -30px !important;
	}
}

.project-section {
	padding: 150px 0 100px;
	@include project-sizer;
	@include media-query($on-540) {
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 50px;
	}

	.project-thumbnails {
		@include makeflex(row);
		-webkit-box-lines: multiple;
	  -moz-box-lines: multiple;
	  -ms-flex-wrap: wrap;
	  -webkit-flex-wrap: wrap;
	  flex-wrap: wrap;
		width: auto;
		-webkit-box-pack: justify;
	  -moz-box-pack: justify;
	  -ms-flex-pack: justify;
	  -webkit-justify-content: space-between;
	  justify-content: space-between;
		clear: both;
	}

	.case-study-heading {
		position: relative;
		margin-top: -20px;
		padding-bottom: 40px;
	}

	.snippet-box {
		width: 100%;
		margin-top: $global-padding;
		@include makeflex(column);
		-webkit-box-lines: multiple;
	  -moz-box-lines: multiple;
	  -ms-flex-wrap: wrap;
	  -webkit-flex-wrap: wrap;
	  flex-wrap: wrap;
		position: relative;
	}
}

/* #PROJECT-THUMBNAILS-generator */
.project {
	margin-bottom: 140px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	@include makeflex(row);
	-ms-flex-flow: row nowrap;
	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
	align-items: flex-start;
	@include all-transition($transition-time);
	@include media-query($on-680) {
		margin-bottom: 40px;
	}

	a, .snippet-body-container {
		width: calc(66.66666666666% - 1em);
		height: 100%;
		@include media-query($on-680) {
			width: 100%;
		}
	}

	.project-link {
		overflow: hidden;
		box-sizing: border-box;
		border: 1px solid $project-border;
	}

	.title-wrapper {
		position: relative;
		left: 0;
		width: calc(33.333333333333% - 1em);
		margin-top: -8px;
		@include all-transition($transition-time);
		@include media-query($on-680) {
			display: none;
		}

		.title-card-outline {
			display: block;
			position: relative;
			top: -1em;
			left: 0;
			padding: 1em 3em 1.8em 2em;
			border: 1px solid $project-border;
			width: 100%;
			background-color: $background-color;
			@include all-transition($transition-time);
		}

		.project-question {
			display: block;
			background: none;
			box-shadow: none;
		}

		hr {
			color: $project-border;
			margin: 1.5em 0;
		}
		.project-title {
			font-weight: $font-semi-bold;
		}

		.project-meta {
			color: $brand-color4;
		}
	}

	.project-image {
		width: 100%;
		height: 24em;
		overflow: hidden;
		box-sizing: border-box;
		position: relative;
		z-index: 100;
		background: {
			position: center;
			size: cover;
			repeat: no-repeat;
		}
		@include all-transition($transition-time);

		.question-wrapper {
			position: absolute;
			left: 8vw;
			bottom: 8vw;
			right: 4em;
			display: none;
			@include all-transition($transition-time);
			@include media-query($on-680) {
				display: inline-block;
			}

			@at-root {
				.project-question {
					font: {
						family: $display-font-family;
						size: 1.5em;
						weight: $font-regular;
					}
					color: $brand-color4;
					display: inline;
					box-shadow: 0.347em 0 0 $question-color, -0.308em 0 0 $question-color;
					box-decoration-break: clone;
					background-color: $question-color;
					padding: 0.12em 1em 0.12em 0;
					line-height: 1.5em;
					@include all-transition($transition-time);
					@include media-query($on-680) {
						font-size: 24px;
					}
					@include media-query($on-376) {
						font-size: 1.4em;
					}

					strong {
						font-weight: 500;
						color: $brand-color;
						@include all-transition($transition-time);
					}
				}
			}
		}
	}

	.project-label {
		width: 100%;
		z-index: -2;
		margin-top: 0 !important;
		background-color: lighten($brand-color3, 2%);
		transition: none;
		@include media-query($on-680) {
			display: none;
		}

		.project-label__body {
			font: {
				size: 1em;
				weight: $font-regular;
			}
			padding: 30px 40px;
			line-height: 1.5em;
			-webkit-column-count: 2;
     	-moz-column-count: 2;
			column-count: 2;
			-webkit-column-gap: 25px;
     	-moz-column-gap: 25px;
			column-gap: 25px;
			-moz-column-fill: auto;
       column-fill: auto;
			 z-index: -1;
			@include all-transition($transition-time);
			@include media-query($content-width) {
				column-count: 1;
				font-size: 1.8vw;
			}
			@include media-query($on-780) {
				font-size: 1em;
			}

			strong {
				font-weight: $font-semi-bold;
				color: $brand-color2;
			}

			p {
				margin-bottom: 1.7em;

				&:last-child {
					margin-bottom: 0;
				}
			}

			mark {
				padding: 0;
			  background-color: transparent;
			  color: $brand-color4;
			}
		}
	}

	&.hover-project {
		.title-card-outline {
			background-color: $brand-color3;
			border-color: transparent;

			.project-question {
				color: $brand-color;
			}
		}

		.project-image {
			transform: scale(1.06);
			@include media-query($on-680) {
				transform: none;
			}
		}
	}

	&.snippet {
		min-height: $snippet-height;
		margin-bottom: 0;
		@include media-query($on-680) {
			margin-bottom: 2em;
		}

		.question-wrapper {
			display: none;
			margin-bottom: 1em;
			@include media-query($on-680) {
				display: block;
			}

			.project-question {
				white-space: normal;
				font-size: 1.4em;
				@include media-query($on-540) {
					font-size: 1.2em;
				}
			}
		}

		.snippet-body-container {
			box-sizing: border-box;
			min-height: $snippet-height;
			position: absolute;
			left: calc(33.3333333333333333% + 0.5em);
			top: 0;
			@include all-transition(0.2s);
			@include media-query($on-680) {
				position: relative;
				left: 0;
			}
		}

		.snippet-body {
			opacity: 0;
			display: none;
			position: relative;
		//	left: -1em;
			@include all-transition(0.2s);
			@include media-query($on-680) {
				opacity: 1;
				display: block;
			}
		}

		.snippet-top {
			position: relative;
			border: 1px solid $project-border;
		}

		.project-image {
			padding-top: 55.8%;
			height: 0;
			background-position: left;

			.question-wrapper {
				left: 1.8em;
				right: 8em;
				bottom: 1.5em;

				.project-question {
					white-space: normal;
					font-size: 1.4em;
					@include media-query($on-540) {
						font-size: 1em;

						& br {
							display: none;
						}
					}
				}
			}
		}

		.title-wrapper {
			cursor: pointer;
			display: inline-block;
			padding: 1.1em 0.8em 1.1em 1.5em;
			margin: 0;
			width: calc(33.333333333333% - 1em - 2.3em);
			border-bottom: 1px solid $project-border;
			@include all-transition(0.4s);
			@include media-query($on-680) {
				display: none;
			}

			.arrow-right {
			  width: 0;
			  height: 0;
				position: absolute;
				right: -1em;
				top: calc(50% - 1em);
			  border-top: 1em solid transparent;
			  border-bottom: 1em solid transparent;
			  border-left: 1em solid transparent;
				@include all-transition(0.4s);
			}

			&:hover {
				background-color: $brand-color3;

				.project-question {
					color: $brand-color;
				}
			}

			.project-question {
				font-size: 1.1em;
				margin-bottom: 0;
				margin-top: -0.2em;
			}

			hr {
				margin: 0;
				position: absolute;
				bottom: 0.75em;
				width: 100%;
			}
		}

		.slider-nav-container {
			position: absolute;
			right: 1em;
			bottom: 1em;
			z-index: 100;
			visibility: hidden;

			.slider-nav {
				display: inline-block;
				position: relative;
				cursor: pointer;
				width: 2em;
				height: 2em;
				margin-right: 0.5em;
				background-color: rgba($brand-color, 0.95);
				border: 1px solid $project-border;
				border-radius: 20%;

				i {
					position: absolute;
					margin-top: 16px;
					right: 50%;
					@include all-transition(0.2s);

					&:before, &:after {
						content: "";
						position: absolute;
						background-color: $background-color;
						width: 4px;
						height: 11px;
					}

					&:before {
						transform: translate( -3px , 0 ) rotate( 45deg );
					}

					&:after {
						transform: translate( 3px , 0 ) rotate( -45deg );
					}
				}

				&.nav-left {
					i {
						transform: translate( -6px , 2px ) rotate( -90deg );
					}
				}

				&.nav-right {
					i {
						transform: translate( 6px , -2px ) rotate( 90deg );
					}
				}

				&:hover {
					border-color: $link-hover-color;

					&.nav-left {
						i {
							transform: translate( -8px , 2px ) rotate( -90deg );
						}

						&.disabled-btn {
							i {
								transform: translate( -6px , 2px ) rotate( -90deg );
							}
						}
					}

					&.nav-right {
						i {
							transform: translate( 8px , -2px ) rotate( 90deg );
						}

						&.disabled-btn {
							i {
								transform: translate( 6px , -2px ) rotate( 90deg );
							}
						}
					}
				}

				&.disabled-btn {
					cursor: default;
					opacity: 0.5;
					background-color: $brand-color;
					border-color: transparent;
				}
			}
		}

		.slideshow-initiated {
			visibility: visible;
			@include all-transition($transition-time);
		}

		.snippet-top .slider-show-btn {
			display: none;
			position: absolute;
			right: 1.4em;
			top: 1.4em;
			z-index: 500;
			cursor: pointer;
			margin-top: 0.7em;

			.show-btn-icon {
				top: 0;
				width: 1.8em;
				height: 1.8em;
				border-radius: 20%;
				background: {
					image: url('/assets/images/icons/expander.svg');
					color: $background-color;
					size: 60%;
					position: 0.375em -1.1em;
					repeat: no-repeat;
				}
			}

			&:hover {
				color: $link-hover-color;
			}

			@include media-query($on-680) {
				display: block;
			}
		}

		.project-meta {
			font-size: 0.9em;
			line-height: 1.4em;
			margin-bottom: 1em;
			margin-top: 1.6em;
			opacity: 0.85;

			span {
				display: block;
				margin-bottom: 0.3em;
			}
		}

		&.active-snippet {
			.title-wrapper {
				background-color: $brand-color3;

				.project-question {
					color: $brand-color;
				}

				.arrow-right {
					border-left-color: $brand-color3;
				}
			}

			.snippet-body-container {
				left: calc(33.3333333333333333% + 1em);
				@include media-query($on-680) {
					left: 0;
				}
			}

			.snippet-body {
				display: block;
				opacity: 1;
				z-index: 999;
			}
		}
	}

	&.snippet-show {
		.snippet-top .slider-show-btn {
			.show-btn-icon {
				background-position: 0.375em 0.4em;
			}
		}

		.project-label {
			display: block;
			@include all-transition(0.3s);
		}
	}

	&.fill-empty-space {
		border: none;
		background: none;
		height: 0;
		margin: 15px;
	}
}

/* #HOMEPAGE-About-section */
.about-section {
	padding: 150px 0 80px;
	background-color: $background-color;
	@include project-sizer;
}

.bio-container {
	margin: 0 -20px 0;
	@include makeflex(row);
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;

	.headshot {
		display: inline-block;
		margin: 10px 20px 0;
		width: calc(33.33333333333% - (2 * 20px));
		padding-right: 10px;
		box-sizing: border-box;
		@include media-query($on-780) {
			display: none;
		}

		img {
			border-bottom: 1px solid $project-border;
		}

		.bio-footer {
	    @include media-query($on-1100) {
	      justify-content: space-around;

	      .contact-button::before {
	        width: 1.8em;
	        height: 1.8em;
					margin-right: 0.25em;
	      }
	    }

			.contact-button::before {
				margin-right: 0.25em;
			}
	  }
	}

	.bio {
		display: inline-block;
		font-weight: $font-regular;
		margin: 20px;
		width: calc(66.666666666% - (2 * 20px));
		@include media-query($on-780) {
			width: 100%;
		}

		mark {
			padding: 0;
		}

		p, ul {
			font-size: 1.125em;
			color: $brand-color4;
			line-height: 1.7em;
			margin-bottom: 1.6em;
			@include media-query($on-780) {
				font-size: 1.1em;
			}

			&:last-of-type {
				margin-bottom: 0;
			}

			strong {
				font-weight: $font-semi-bold;
			}

			img {
				display: none;
				width: 160px;
				float: left;
				margin-right: 20px;
				@include media-query($on-780) {
					display: inline;
				}
				@extend %clearfix;
			}

			&.no-break {
				margin-bottom: 0;
			}
		}

		hr {
			margin-top: 100px;
		}

		@at-root {
			h4.section-title {
				font: {
					size: 1.2em;
					weight: $font-regular;
				}
				position: relative;
				color: $brand-color;
				display: inline;
				line-height: 30px;
				padding-top: 3px;
			}
		}

		.more-link {
			font-size: 0.8em;
			margin: 2px 10px 4px;
			text-align: right;
		}

		.services-container {
			margin: 1.6em -0.6em;
			@include makeflex(row);
			-webkit-box-lines: multiple;
		  -moz-box-lines: multiple;
		  -ms-flex-wrap: wrap;
		  -webkit-flex-wrap: wrap;
		  flex-wrap: wrap;
			justify-content: flex-start;

			.service-box {
				width: calc(33.333333333% - 1.2em);
				min-width: 12em;
				margin: 0.6em;
				padding: 0.7em 1.1em 1.1em;
				box-sizing: border-box;
				font-size: 0.9em;
				background-color: $brand-color3;
				flex: 1;

				h4 {
					font-weight: $font-semi-bold;
					margin-bottom: 0.2em;
					padding-bottom: 0.2em;
					border-bottom: 1px dotted rgba($brand-color4, 0.3);
				}

				p, li {
					color: $brand-color4;
					line-height: 1.4em;
					margin-top: 0.5em;
				}

				&.fill-empty-space {
					background-color: transparent;
				}
			}
		}

		.logo-grid {
			@include makeflex(row);
			-webkit-box-lines: multiple;
		  -moz-box-lines: multiple;
		  -ms-flex-wrap: wrap;
		  -webkit-flex-wrap: wrap;
		  flex-wrap: wrap;
			margin: 0 calc(-1 * 1.25em);
			justify-content: flex-start;

			.logo-box {
				width: calc(20% - (2 * 1.25em));
				min-width: 5em;
				margin: 1.25em;
				opacity: 0.7;
				flex: 1;

				&.fill-empty-space {
					margin-top: 0;
					margin-bottom: 0;
				}
			}
		}
	}
}

.resume {
	clear: both;

	.resume-section {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: 1em;
		-moz-column-gap: 1em;
		column-gap: 1em;
		margin-bottom: 3em;
		@include media-query($on-540) {
			-webkit-column-count: 1;
			-moz-column-count: 1;
			column-count: 1;
		}

		&:last-of-type {
	    margin-bottom: 0;
		}

		&.speaking-section {
			padding-top: 4px;
		}
	}

	.resume-block {
		margin-bottom: 1em;

		h5, h6 {
			font-size: 0.8em;
			line-height: 1.5em;
		}
	}

	h3, h4, h5, h6 {
		margin-bottom: 0;
		margin-left: 16px;
	}

	h4 {
		color: $brand-color;
		font-weight: $font-regular;
	}

	h3 {
		margin-bottom: 0.3em;
		font-weight: $font-semi-bold;
		text-align: center;
	}

	h6 {
		font-weight: $font-regular;
	}
}

.image-grid-container {
	margin-top: calc(2 * #{$global-padding});
	clear: both;

	.image-grid {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: 1em;
		-moz-column-gap: 1em;
		column-gap: 1em;

		margin: 0 -8px;
		overflow: hidden;
		@include media-query($content-width) {
			max-height: 400px;
		}
		@include media-query($on-780) {
			max-height: 500px;
		}
		@include media-query($on-680) {
			max-height: 400px;
		}
		@include media-query($on-540) {
			max-height: 720px;
		}
		@include media-query($on-376) {
			max-height: 540px;
		}

		.image-box {
			position: relative;
			margin: 8px;
			width: calc(50% - (2 * 8px));
			border: 2px solid $brand-color3;
			box-sizing: border-box;

			a {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border: none;
			}
		}
	}
}

/* #404-page */
.errorpage {
	.hello-section {
		background-image: none;
		background-color: $background-color;
		margin-top: 10em;
		padding-top: 0;
		@include media-query($on-780) {
			min-height: auto;
			padding: 80px 10%;
		}
		@include media-query($on-680) {
			min-height: auto;
			padding: 70px 10% 30px;
		}

		.hello-intro-bio {
			@include project-sizer;
		}
	}

	.sorry-container {
		font-size: 64px;
		line-height: 80px;
		color: $brand-color4;
		@include media-query($on-780) {
			font-size: 8vw;
			line-height: 10vw;
			margin: 4vh 0;
		}
		@include media-query($on-680) {
			font-size: 40px;
			line-height: 45px;
			margin: 10px 0;
		}

		.shrug {
			color: $brand-color;
			font-weight: $font-semi-bold;

			.shrug-light {
				font-weight: $font-light;
			}
		}

		.call-to-action {
			font: {
				size: 20px;
				weight: $font-light;
			}
			line-height: 33px;
			margin-top: 40px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	footer {
		margin-top: 0;
	}
}

/* #PORTFOLIO-Project-intro */
.intro-container {
	padding-bottom: 30px;
	@extend %flex-default;
	@include media-query($on-780) {
		padding-bottom: 50px;
	}
	@include media-query($on-680) {
		padding-bottom: 30px;
	}

	.masthead-box {
		@include project-sizer;

		&.fill-out {
			width: 100%;
		}
	}

	.project-masthead-bg {
		width: 100%;
		margin-bottom: 16px;
		background: {
			size: cover;
			repeat: no-repeat;
			position: left center;
		}
	}

	.project-name {
		margin-top: 180px;
		margin-bottom: 40px;
		color: $brand-color;
		letter-spacing: 0;
		text-align: center;

		h1 {
			font: {
				size: 3em;
				weight: $font-light;
				family: $display-font-family;
			}
			line-height: 1.1em;
		}
	}

	.intro-image {
		width: 100%;
		height: 0;
		padding-top: 40%;
		position: relative;
		background: {
			position: center center;
			repeat: no-repeat;
			size: contain;
		}
	}

	.info-stats {
		line-height: 32px;
		-ms-flex-flow: row nowrap;
		-webkit-flex-flow: row nowrap;
		flex-flow: row nowrap;
		@extend %flex-default;
		@include media-query($on-780) {
			-ms-flex-flow: column-reverse wrap;
			-webkit-flex-flow: column-reverse wrap;
			flex-flow: column-reverse wrap;
		}
		@include media-query($on-680) {
			font-size: 1em;
			line-height: 1.875em;
			margin-bottom: 0;
		}
		@include media-query($on-540) {
			-ms-flex-direction: column;
			-webkit-flex-direction: column;
			flex-direction: column;
		}

		.project-info {
			font: {
				size: 1.25em;
				weight: $font-regular;
			}
			width: 70%;
			padding-right: 30px;
			margin-top: -5px;
			@include media-query($on-780) {
				width: 100%;
				margin: 0;
				padding: 0;
			}
			@include media-query($on-540) {
				margin-bottom: 30px;
			}

			p {
				margin-bottom: 30px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.stat-title {
			font: {
				family: $display-font-family;
				size: .8125em;
				weight: $font-semi-bold;
			}
			line-height: 1em;
			margin-bottom: 0.3em;
			color: $brand-color;
			text-transform: uppercase;
		}

		.stats {
			width: 30%;
			padding-left: 30px;
			font-size: 16px;
			border-left: 2px solid $brand-color3;
			@include media-query($on-780) {
				width: 100%;
				@include makeflex(row);
				-ms-flex-flow: row nowrap;
				-webkit-flex-flow: row nowrap;
				flex-flow: row nowrap;
				margin: 0 -15px;
				border: none;
				padding: 0;
			}
			@include media-query($on-540) {
				-ms-flex-flow: column nowrap;
				-webkit-flex-flow: column nowrap;
				flex-flow: column nowrap;
			}

			.stat {
				margin-bottom: 30px;
				@include media-query($on-780) {
					margin: 0 15px 15px;
					flex: 0 1 33.33333333333%;
				}
				@include media-query($on-540) {
					margin-bottom: 30px;
				}

				&:last-child {
					margin-bottom: 0;
					@include media-query($on-780) {
						margin-bottom: 15px;
					}
				}
			}

			.stat-value {
				margin: 0 0 6px;
				line-height: 1.2em;

				&:last-child {
					margin-bottom: 0;
				}

				ul li {
					padding-bottom: 8px;
				}
			}
		}
	}
}

/* #PORTFOLIO-Write-up */
.write-up {
	@include project-sizer;
	margin-bottom: 80px;

	a {
		border: none;
	}

	.info-block {
		@extend %flex-default;
		@include media-query($on-780) {
			flex-direction: column;
		}
	}

	.caption-number {
		font: {
			size: 12px;
			weight: $font-semi-bold;
		}
		text-align: center;
	 	border-radius: 20%;
		border: 1px solid $brand-color;
		margin: $global-padding 0 0 $global-padding;
		display: inline-block;
		min-width: 20px;
		height: 20px;
		color: $brand-color2;
		line-height: 20px;
		background-color: rgba($background-color, 0.85);
	}

	.ui-image {
		@extend %image-default;
		height: 600px;
		width: 1100px;
		left: calc( (100% - 1100px) * 0.5 );

		&.fido-flow {
			height: 420px;
		}

		@include media-query($on-1200) {
			width: 100%;
			height: 0;
			padding-top: 50%;
			left: auto;

			&.fido-flow {
				height: 0;
				padding-top: 38%;
			}
		}

		&.split-image {
			height: 320px;
		}
	}

	.full-width-image {
		position: relative;
		margin-left: calc(-50vw + 50%);
  	margin-right: calc(-50vw + 50%);

		img {
			width: 100%;
		}

		.caption-wrapper {
			max-width: $content-width;
			position: absolute;
			top: 0;
			left: calc(0.5 * (100vw - #{$content-width}));

			.caption-number {
				position: absolute;
				top: 0;
			}
		}
	}

	.main-image {
    @extend %image-default;
    padding-top: 47.87%;
    @include media-query($on-1100) {
      padding-top: 50%;
      left: auto;
    }
  }

	.wide-image {
		@extend %image-default;
		padding-top: 58%;
	}

	.half-image {
		@extend %image-default;
		padding-top: 33%;
		width: calc(50% - #{$global-padding});
		@include media-query($on-1024) {
			flex-basis: 100%;
			padding-top: 55%;
		}
		@include media-query($on-780) {
			padding-top: 55%;
		}
	}

	.tall-image {
		@extend %image-default;
		padding-top: 180%;
	}

	.image-grid-full {

		.half-image {
			padding-top: 27%;
		}

		video {
			margin-top: 15px;
		}
	}

	.image-grid-left {
		width: calc(66.6666666666% - #{$global-padding});
		@include media-query($on-1024) {
			width: calc(50% - #{$global-padding});
		}
		@include media-query($on-780) {
			flex-direction: column;
			width: 100%;
		}
	}

	.image-row {

		.wide-image {
			padding-top: 40%;
			width: calc(76.6% - #{$global-padding});
		}

		.half-image {
			padding-top: 45%;
		}

		.tall-image {
			padding-top: 40%;
			width: calc(23.4% - #{$global-padding});
		}

		.phone-image {
			@extend %image-default;
			padding-top: 62%;
			width: calc(33.3333333333333% - #{$global-padding});
		}

		video {
			position: absolute;
			left: 0;
			z-index: -1;
		}
	}

	.image-stroke div {
		border: 1px solid $grey-color;
	}

	.info-pane {
		margin-bottom: calc(1.5 * (#{$global-padding}));
		line-height: 24px;
		@include media-query($on-780) {
			width: 95%;
		}

		.info-pane-title {
			color: $brand-color;
			font: {
				family: $display-font-family;
				weight: 500;
			}
		}

		.caption-number {
			color: $background-color;
			font-family: $base-font-family;
			margin: 0 11px 0 -8px;
			background-color: rgba($brand-color, 0.8);
			border-color: $background-color;
			opacity: 1;
		}

		.info-pane-content {
			margin-left: 26px;
			margin-top: -2px;

			strong {
				font-weight: $font-semi-bold;
			}
		}
	}

	.info-pane-list {
		width: calc(33.3333333333% - #{$global-padding});
		margin: $global-padding 0;
		@include media-query($on-1024) {
			width: calc(50% - #{$global-padding});
			padding-left: 10px;
		}
		@include media-query($on-780) {
			width: 100%;
			padding-left: 10px;
		}
	}

	.info-pane-row {
		@extend %flex-default;
		margin: $global-padding calc(-1 * 20px);
		justify-content: flex-end;
		@include media-query($on-780) {
			width: 100%;
			padding-left: 10px;
		}

		.info-pane {
			width: calc(33.3333333333% - (2 * 20px));
			margin-left: 20px;
			margin-right: 20px;
			@include media-query($on-780) {
				width: 95%;
			}
		}

		&.archetypes {
			margin: -15px -13px 0;

			.info-archetype {
				margin: 13px;
				min-width: calc(188px - 26px);
				flex-grow: 1;
				flex-shrink: 0;
				flex-basis: calc(20% - 26px);

				.info-pane-title {
					color: $brand-color;
					font: {
						family: $display-font-family;
						weight: 500;
					}
					margin-bottom: 4px;
				}

				.info-pane-content {
					margin: 0;
				}
			}
		}
	}

	.new-section {
		margin-top: 120px;
	}

	.testimonial-quote {
		margin: 20px auto 50px;
		padding: 20px 0 0;
		border-top: 1px dotted rgba($brand-color4, 0.2);
		border-bottom: 1px dotted rgba($brand-color4, 0.2);
		text-align: center;

		blockquote {
			color: $brand-color;
			font-size: 30px;
			text-transform: none;
		}

		p {
			color: $brand-color4;
			font-size: 16px;
			text-transform: uppercase;
			line-height: 45px;
		}
	}
}

/* #MENU */
.site-header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	background-color: rgba($background-color, 0.95);
	border-bottom: 1px solid $project-border;
	@include all-transition($transition-time);
	@include media-query($on-680) {
		position: absolute;
	}

	.hamburger {
		width: 22px;
		height: 22px;
		padding: 4px;
		cursor: pointer;
		position: fixed;
		top: 11px;
		left: 20px;
		display: none;
		background: {
			image: url('/assets/images/icons/menu-icon-brand.svg');
			position: center center;
			size: 28px 28px;
			repeat: no-repeat;
			color: rgba($background-color, 0.95);
		}
		@include all-transition($transition-time);
		@include media-query($on-680) {
			display: block;
		}
	}

	&.toggle-menu {
		position: fixed;
		background-color: rgba(255,255,255,0.95);
		border-bottom: 1px solid #F1F5F7;

		.hamburger {
			opacity: 1;
			background-size: 8px 28px;
			-webkit-transform:rotate(90deg);
			transform:rotate(90deg);
		}
	}

	.menu-wrapper {
		padding: 0.875em 0;
		margin-bottom: 0;
		@include project-sizer;
		font-size: 1em;
		@include makeflex(row);
		-webkit-box-lines: multiple;
	  -moz-box-lines: multiple;
	  -ms-flex-wrap: wrap;
	  -webkit-flex-wrap: wrap;
	  flex-wrap: wrap;
		-webkit-box-pack: justify;
	  -moz-box-pack: justify;
	  -ms-flex-pack: justify;
	  -webkit-justify-content: space-between;
	  justify-content: space-between;
		@include media-query($on-680) {
			-ms-flex-flow: column wrap;
			-webkit-flex-flow: column wrap;
			flex-flow: column wrap;
			align-items: center;
		}

		li {
			text-indent: 0;
			padding: 0;
			width: auto;
			&::before {
				content: "";
			}
			@include media-query($on-680) {
				font-size: 1.2em;
			}

			.masthead {
				font: {
					family: $display-font-family;
					weight: $font-semi-bold;
				}
				display: inline-block;
				letter-spacing: .03em;
				text-transform: uppercase;
				z-index: 1002;
				border-bottom: none;

				.masthead-title {
					font: {
						weight: $font-regular;
						size: 0.99em;
					}
					text-transform: none;
					color: $brand-color4;
					letter-spacing: 0;
					margin-top: -7px;

					strong {
						color: $brand-color;
					}
				}

				@include media-query($on-680) {
					text-align: center;
				}
			}

			&.menu-link {
				font: {
					family: $display-font-family;
					weight: $font-regular;
				}
				width: 200px;
				text-align: right;
				align-self: flex-end;
				margin-bottom: 1px;
				@include media-query($on-680) {
					margin-top: 30px;
					text-align: center;
					align-self: auto;
				}

				a {
					font-size: 0.99em;
					border-bottom: none;
				}
			}
		}
	}
}

/* #FOOTER */
footer.outerpage {
	background-color: $background-color;
}

.page-footer {
	background-color: $brand-color3;
	position: relative;
	z-index: 2000;

	.section-title h3 {
		padding-top: 35px;
		background-color: transparent;
		margin-bottom: 0;
	}

	.projects-container {
		@include project-sizer;

		.project-thumbnails {
			padding-bottom: 30px;
			margin: 0 calc(-1 * #{$global-padding});
			@include makeflex(row);
			-webkit-box-lines: multiple;
		  -moz-box-lines: multiple;
		  -ms-flex-wrap: wrap;
		  -webkit-flex-wrap: wrap;
		  flex-wrap: wrap;
			clear: both;

			.project {
				margin: $global-padding;
				min-width: 180px;
				flex-grow: 1;
				flex-shrink: 0;
				flex-basis: calc(20% - (2 * #{$global-padding}));
				height: 200px;
				border: {
					color: $background-color;
					width: 3px;
					style: solid;
				}
				display: block;

				&.current {
					border-color: rgba($brand-color, 0.8);
				}

				&.fill-empty-space {
					border: none;
					display: none;
					height: 0;
					@include media-query($on-780) {
						display: block;
					}
				}
			}
		}
	}

	.project-footer-image-box {
		height: 100%;
		width: 100%;
		position: relative;
		overflow: hidden;

		.project-footer-image {
			background: {
				position: 50% 50%;
				size: cover;
				color: $background-color;
				repeat: no-repeat;
			}
			width: 100%;
			height: 100%;
			overflow: hidden;
			box-sizing: border-box;
			position: relative;

			.question-wrapper {
				position: absolute;
				left: 20px;
				right: 20px;
				bottom: 15px;

				.project-question {
					font-size: 1.1em;
					white-space: normal;
				}
			}

			&::before {
				content: "";
				background: none;
			}
		}
	}

	.social-links {
	  -webkit-justify-content: center;
	  justify-content: center;

		.contact-button {
			position: relative;
    	display: inline-block;

      &::before {
        margin-left: 10px;
        width: 24px;
        height: 24px;
      }
      &.email:before { background-image: url('/assets/images/icons/email.svg'); }
      &.linkedin::before { background-image: url('/assets/images/icons/linkedin.svg'); }
      &.twitter::before { background-image: url('/assets/images/icons/twitter.svg'); }
			&.five-oha-px::before { background-image: url('/assets/images/icons/500px.svg'); width: 48px; }
			&.instagram::before { background-image: url('/assets/images/icons/instagram.svg'); }
			&.location {
        &::before {
					background-image: url('/assets/images/icons/location.svg');
					background-repeat: no-repeat;
					margin-left: 0;
					width: 18px;
					opacity: 0.6;
				}
        &::after {
					content: "Accra, Ghana (GMT)"; font-size: 0.9em;
					color: $brand-color4;
					margin-right: 2em;
				}
			}

			.tooltip {
				visibility: hidden;
		    background-color: rgba($brand-color4, 0.65);
		    color: #fff;
		    text-align: center;
		    padding: 3px 10px;
		    border-radius: 2px;

		    position: absolute;
		    z-index: 1;
		    bottom: 100%;
		    left: 50%;
		    transform: translateX(calc(-50% + 5px));

				&::before {
					content: "";
			    position: absolute;
			    bottom:-6px;
			    left: 50%;
			    transform: translateX(-50%);
			    border-width: 6px 6px 0 6px;
			    border-style: solid;
			    border-color: rgba($brand-color4, 0.65) transparent transparent transparent;
			    z-index: 100;
				}
			}

			&:hover .tooltip {
		    visibility: visible;
			}
    }
	}

	.outerpage & {
		@include project-sizer;
		margin-top: 0;
		background-color: $background-color;
	}
}

/* #Fancybox */
.fancybox-container {
	svg {
		color: $brand-color;
		background-color: $background-color;

		&::before {
			border-color: $background-color;
		}
	}

	.fancybox-toolbar button {
		background-color: $background-color;
	}

	.fancybox-navigation {
		.fancybox-button {
			padding: 10px;

			::before {
				background-color: transparent;
			}

			svg {
				color: $background-color;
				background-color: $brand-color;
			}
		}
	}

	.fancybox-bg {
	  background: $background-color;
	}

	.fancybox-stage {
	  bottom: 50px !important;

		.fancybox-image-wrap {
			border: 8px solid $background-color;
		}
	}

	.fancybox-caption-wrap {
  	margin: 0 auto;
		background: transparent;

		.fancybox-caption {
			padding-bottom: 30px;
			color: $grey-color;
			font-size: 16px;
			font-weight: $font-regular;
			text-align: center;
			border: none !important;
		}
	}
}
