/* #HOMEPAGE-Intro */
.hello-section {
	overflow: hidden;
  background-color: $brand-color3;
  min-height: 80vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	@include media-query($on-tablet) {
		min-height: auto;
		padding-top: 80px;
		padding-bottom: 80px;
	}
	@include media-query($on-landscape) {
		min-height: auto;
		padding-top: 220px;
		padding-bottom: 30px;
	}

	.errorpage & {
		min-height: 80vh;
	}

	.hello-intro-bio {
		@include project-sizer;

		.hello-intro {
			font: {
				family: $display-font-family;
				size: 3.8em;
				weight: $font-light;
			}
			margin-bottom: calc(2 * #{$grid-height});
			line-height: 1.1em;
			color: $brand-color;
			@include media-query($on-tablet) {
				font-size: 8vw;
				line-height: 10vw;
				margin: 4vh 0;
			}
			@include media-query($on-landscape) {
				font-size: 40px;
    		line-height: 45px;
    		margin: 10px 0;
			}

			@at-root {
				.grey-out {
					color: rgba(79, 93, 117, 0.7);
					font-weight: $font-lightest;
				}

				.slash-space {
					padding: 0 7px;
				}
			}

			.tooltip {
				position: relative;
			  display: inline-block;
				border-bottom: 1px dotted rgba(79, 93, 117, 0.3);
				margin-bottom: -1px;

				.tooltiptext {
					font: {
						size: 17px;
						weight: $font-regular;
					}
					width: 160px;
				  color: $brand-color4;
				  text-align: center;
					padding-bottom: 8px;
				  position: absolute;
				  z-index: 1;
				  bottom: 70%;
				  left: 50%;
				  margin-left: -80px;
				  opacity: 0;
				  transition: opacity 0.3s;

					&::after {
						content: "";
						position: absolute;
						top: 65%;
					  left: 50%;
					  margin-left: -5px;
						opacity: 0.8;
					  border: {
							width: 5px;
					  	style: solid;
						  color: $brand-color transparent transparent transparent;
						}
					}
				}

				&:hover {
					border: none;

					.tooltiptext {
						visibility: visible;
						opacity: 1;
					}
				}
			}
		}

		.hello-bio {
			padding-right: 35%;
			@include media-query($content-width) {
				padding-right: 0;
			}

			p {
			  font: {
					size: 1.4375em;
					weight: $font-regular;
					family: $display-font-family;
				}
			  line-height: 1.8em;
				color: $brand-color4;
				margin-bottom: 40px;

				@include media-query($on-landscape) {
					font-size: 1.25em;
    			line-height: 1.8em;
    			margin-bottom: 4vh;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

/* #HOMEPAGE-Portfolio */
.project-section {
	padding: 100px 0;
	@include project-sizer;

	h3.section-title {
		font: {
			size: 18px;
			weight: $font-semi-bold;
		}
		color: $brand-color4;
		text-transform: uppercase;
		display: inline-block;
		padding: 6px 0;
	}

	.project-thumbnails {
		display: flex;
		flex-flow: row wrap;
		width: auto;
		justify-content: space-between;

		.outerpage & {
			padding-bottom: 80px;
		}
	}
}

/* #PROJECT-THUMBNAILS-generator */
.project {
	position: relative;
	margin-bottom: 40px;
	width: 100%;
	background-color: $background-color;
	box-sizing: border-box;
	overflow: hidden;

	.project-wrapper {
		width: 185%;
		height: 360px;
		display: flex;
		flex-flow: row nowrap;
		overflow: hidden;
		@include all-transition($transition-time);
		@include media-query($on-landscape) {
			height: 250px;
		}

		.project-image-box {
			width: 54.0540541%;
			position: relative;
			overflow: hidden;
			@include all-transition($transition-time);

			.project-image {
				background: {
					position: 30% 50%;
					size: cover;
					color: $brand-color3;
					repeat: no-repeat;
				}
				position: relative;
				height: 100%;
				width: 100%;
				@include all-transition($transition-time);

				&::before {
					content: "";
					position: absolute;
					top: 0;
				  left: 0;
				  bottom: 0;
				  right: 0;
					background: {
						repeat: no-repeat;
						position: 30% 50%;
					}
					@include all-transition($transition-time);
				}

				.question-wrapper {
					position: absolute;
					left: 40px;
					bottom: 30px;
					z-index: 100;
					@include all-transition($transition-time);

					@at-root {
						.project-question {
							font: {
								family: $display-font-family;
								size: 1.5em;
								weight: 400;
							}
							white-space: nowrap;
							box-shadow: 0.347em 0 0 rgba(255, 255, 255, 0.97), -0.308em 0 0 rgba(255, 255, 255, 0.97);
							padding: 0.12em 0;
							box-decoration-break: clone;
							text-align: left;
							color: $brand-color2;
							line-height: 1.5em;
							background-color: rgba(255, 255, 255, 0.97);
							@include all-transition($transition-time);
							@include media-query($on-landscape) {
								font-size: 24px;
							}
							@include media-query($on-portrait) {
								font-size: 1.4em;
							}

							strong {
								font-weight: $font-semi-bold;
								color: $brand-color;
							}
						}
					}
				}
			}
		}

		.project-label {
			position: relative;
			height: 100%;
			vertical-align: top;
			padding: 22px 50px 25px;
			background-color: lighten($brand-color3, 2.5%);
			box-sizing: border-box;
			width: 38.0540541%;
			@include all-transition($transition-time);

			.project-label__body {
				font: {
					size: 1.25em;
					weight: $font-regular;
					family: $display-font-family;
				}
				color: $brand-color4;
				height: 100%;
				overflow: hidden;
				line-height: 1.7em;
				@include media-query($on-1100) {
					font-size: 1.81vw;
				}
				@include media-query(56.25em) {
					font-size: 2.1vw;
				}
				@include media-query($on-tablet) {
					font-size: 1em;
				}

				strong {
					color: $brand-color;
					font-weight: $font-semi-bold;
				}

				p:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	&.card-only {
		width: calc(50% - 20px);
		@include media-query($on-tablet) {
			width: 100%;
		}

		.project-image-box {
			width: 68%;
		}
	}

	&.snippet {
		cursor: pointer;

		&[style="order: 5"]::before {
			content: "Project Snippets";
			font: {
				size: 1.2em;
				weight: $font-regular;
			}
			cursor: auto;
			display: block;
			color: $brand-color4;
			display: inline;
			line-height: 30px;
			padding-bottom: 10px;
		}
	}

	&.fill-empty-space {
		border: none;
		background: none;
		height: 0;
		margin: 15px;
	}

	&.toggle-preview {
		.project-image-box {
			width: 16%;
			@include media-query($on-landscape) {
				width: 0;
			}

			.project-image {
				background-position: 50% 50%;
				&::before {
					opacity: 0;
					left: 200px;
				}

				.question-wrapper {
					left: 20px;

					.project-question {
						@include media-query($on-1100) {
							font-size: 2.6vw;
						}
					}
				}
			}
		}

		.project-label {
			opacity: 1;
			left: 0;

			@include media-query($on-tablet) {
				padding-left: 25px;
				width: 55.0540541%;
			}
		}

		.project-launch-btn {
			background-color: transparent;
		}

		&.card-only {
			.project-preview-btn {
				background-color: transparent;
			}

			.project-image-box {
				width: 0;
			}
		}
	}
}

/* #HOMEPAGE-About-section */
.about-section {
	padding: 200px 0 80px;
	background-color: $background-color;
	@include project-sizer;

	.bio-container {
		margin: 0 calc(-1 * 20px) 0;
		display: flex;
		flex-flow: row wrap;

		.headshot {
			display: inline-block;
			margin: 0 20px 20px;
			width: calc(33.33333333333% - (2 * 20px));
		}

		.bio {
			display: inline-block;
			font-weight: $font-regular;
			margin: $global-padding;
			width: calc(66.66666666666% - (2 * #{$global-padding}));

			h3 {
				font: {
					size: 3.125em;
					weight: $font-light;
				}
				line-height: 1.3em;
				color: $brand-color;
				margin-bottom: 10px;
			}

			p {
				font-family: $display-font-family;
				font-size: 1.25em;
				color: $brand-color4;
				line-height: 1.9em;
				margin-bottom: 10px;

				&.no-break {
					margin-bottom: 0;
				}
			}

			h4 {
				font: {
					size: 1.2em;
					weight: $font-regular;
				}
				position: relative;
				color: $brand-color4;
				display: inline;
				line-height: 30px;
				padding-top: 3px;
			}

			.more-link {
				font-size: 0.8em;
				margin: 2px 0 4px;
			}

			.highlight {
				font-weight: $font-semi-bold;
				color: $brand-color4;
			}

			.services-container {
				margin: 0 -10px calc(6 * #{$global-padding});
				display: none;
				flex-flow: row wrap;

				.services-box {
					width: calc(25% - (2 * 10px));
					height: 200px;
					margin: 10px;
					padding: 6px 10px;
					box-sizing: border-box;
					background-color: $brand-color3;

					h5 {
						font: {
							size: 18px;
							weight: $font-regular;
						}
						color: $brand-color;
						line-height: 24px;
						padding-bottom: 5px;
						border-bottom: 2px solid $background-color;
					}
				}
			}

			.logo-grid {
				display: flex;
				flex-flow: row wrap;
				margin: 0 calc(-1 * 20px);
				justify-content: space-between;

				.logo-box {
					width: calc(20% - (2 * 20px));
					margin: 20px;
					opacity: 0.7;
				}
			}

			.image-grid-container {
				margin-top: calc(5 * #{$global-padding});

				p {
					font-size: 14px;
					line-height: 15px;
				}

				.image-grid {
					display: flex;
					flex-flow: column wrap;
					max-height: 490px;
					margin: 0 -8px;
					overflow: hidden;

					.image-box {
						position: relative;
						margin: 8px;
						width: calc(33.33333333333333333% - (2 * 8px));
						overflow: hidden;
						border: 2px solid $brand-color3;
						box-sizing: border-box;

						a {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
						}
					}
				}
			}
		}
	}
}

/* #404-page */
.errorpage {
	.hello-section {
		@include media-query($on-tablet) {
			min-height: auto;
			padding: 80px 10%;
		}
		@include media-query($on-landscape) {
			min-height: auto;
			padding: 70px 10% 30px;
		}
		.sorry-container {
			max-width: 750px;
			width: 100%;
			font-size: 64px;
			line-height: 80px;
			color: rgba(255, 255, 255, 0.8);
			flex-direction: column;
			@include media-query($on-tablet) {
				font-size: 8vw;
				line-height: 10vw;
				margin: 4vh 0;
			}
			@include media-query($on-landscape) {
				font-size: 40px;
				line-height: 45px;
				margin: 10px 0;
			}

			.shrug {
				color: $brand-color;
				font-weight: $font-semi-bold;

				.shrug-light {
					font-weight: $font-light;
				}
			}

			.call-to-action {
			  font: {
					size: 20px;
					weight: $font-light;
				}
			  line-height: 33px;
				margin-top: 40px;

				&:last-child {
					margin-bottom: 0;
				}

				a {
					font-weight: $font-regular;
					color: $brand-color;
					transition-duration: 0.5s;
					border-bottom: 1px dotted $grey-color;

					&:hover, &:active {
						color: darken($brand-color, 15%);
						transition-duration: 0.1s;
					}
				}
			}
		}
	}

	footer {
		margin-top: 0;
	}
}

/* #PORTFOLIO-Project-intro */
.intro-container {
	padding-bottom: 30px;
	@extend %flex-default;
	@include media-query($on-tablet) {
		padding-bottom: 50px;
	}
	@include media-query($on-landscape) {
		padding-bottom: 30px;
	}

	.masthead-box {
		@include project-sizer;
	}

	.project-masthead-bg {
		width: 100%;
		margin-bottom: 16px;
		background: {
			size: cover;
			repeat: no-repeat;
			position: left center;
		}
	}

	.project-name {
		margin-top: 180px;
		margin-bottom: 40px;
		line-height: 45px;
		color: $brand-color;
		letter-spacing: 0;
		width: 100%;
		position: relative;
		box-sizing: content-box;

		h1 {
			font: {
				size: 3em;
				weight: $font-light;
				family: $display-font-family;
			}
		}

	}

	.intro-image {
		width: 100%;
		height: 0;
		padding-top: 40%;
		position: relative;
		background: {
			position: center center;
			repeat: no-repeat;
			size: contain;
		}
	}

	.info-stats {
		line-height: 32px;
		-ms-flex-wrap: nowrap;
		-webkit-flex-wrap: nowrap;
		flex-wrap: nowrap;
		@extend %flex-default;
		@include media-query($on-tablet) {
			-ms-flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			flex-wrap: wrap;
		}

		@include media-query($on-landscape) {
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 0;
		}

		.project-info {
			font: {
				size: 1.25em;
				weight: $font-regular;
			}
			width: 70%;
			padding-right: 30px;
			margin-top: -5px;
			@include media-query($on-tablet) {
				width: 100%;
				margin: 0;
			}

			p {
				margin-bottom: 30px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.stat-title {
			font: {
				family: $display-font-family;
				size: 13px;
				weight: $font-semi-bold;
			}
			line-height: 15px;
			margin-bottom: 6px;
			color: $brand-color;
			text-transform: uppercase;
		}

		.stats {
			width: 30%;
			padding-left: 30px;
			font-size: 16px;
			border-left: 2px solid $brand-color3;
			@include media-query($on-tablet) {
				width: 100%;
				margin: 0;
				display: flex;
				flex-flow: row nowrap;
				margin: 0 -15px;
			}
			@include media-query($on-landscape) {
				flex-flow: column nowrap;
			}

			.stat {
				margin-bottom: 30px;
				@include media-query($on-tablet) {
					margin: 0 15px 15px;
					flex: 0 1 33.33333333333%;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}

			.stat-value {
				margin: 0 0 6px;
				line-height: 22px;

				&:last-child {
					margin-bottom: 0;
				}

				ul li {
					padding-bottom: 8px;
				}
			}
		}
	}
}

/* #PORTFOLIO-Write-up */
.write-up {
	@include project-sizer;
	margin-bottom: 80px;

	a {
		border: none;
	}

	.info-block {
		@extend %flex-default;
		@include media-query($on-tablet) {
			flex-direction: column;
		}
	}

	.ui-image {
		@extend %image-default;
		height: 550px;
		width: 1100px;
		left: calc( (100% - 1100px) * 0.5 );
		@include media-query($on-1100) {
			width: 100%;
			height: 0;
			padding-top: 50%;
			left: auto;
		}

		&.split-image {
			height: 320px;
		}
	}

	.full-width-image {
		@extend %image-default;
		height: 720px;
		width: 100vw;
		left: calc( (100% - 100vw) * 0.5 );
		@include media-query($on-1100) {
			width: 100%;
			height: 0;
			padding-top: 50%;
			left: auto;
		}
	}

	.main-image {
    @extend %image-default;
    padding-top: 47.87%;
    @include media-query($on-1100) {
      width: 100%;
      height: 0;
      padding-top: 50%;
      left: auto;
    }
  }

	.wide-image {
		@extend %image-default;
		padding-top: 55%;
	}

	.half-image {
		@extend %image-default;
		padding-top: 33%;
		flex-basis: calc(50% - #{$global-padding});
		@include media-query($on-tablet) {
			padding-top: 55%;
		}
	}

	.tall-image {
		@extend %image-default;
		padding-top: 180%;
	}

	.image-grid-full {
		@extend %flex-default;

		.half-image {
			padding-top: 27%;
		}

		video {
			margin-top: 15px;
		}
	}

	.image-grid-left {
		@extend %flex-default;
		width: calc(66.6666666666% - #{$global-padding});
		@include media-query($on-tablet) {
			flex-direction: column;
			width: 100%;
		}
	}

	.image-row {
		@extend %flex-default;

		.wide-image {
			padding-top: 40%;
			width: calc(76.6% - #{$global-padding});
		}

		.half-image {
			padding-top: 45%;
		}

		.tall-image {
			padding-top: 40%;
			width: calc(23.4% - #{$global-padding});
		}

		.phone-image {
			@extend %image-default;
			padding-top: 62%;
			width: calc(33.3333333333333% - #{$global-padding});
		}

		video {
			position: absolute;
			left: 0;
			z-index: -1;
		}
	}

	.image-stroke div {
		border: 1px solid $grey-color;
	}

	.caption-number {
	 font: {
		 size: 12px;
		 weight: $font-bold;
	 }
	 text-align: center;
	 border-radius: 20%;
	 margin: $global-padding 0 0 $global-padding;
	 display: inline-block;
	 min-width: 20px;
	 height: 20px;
	 color: $brand-color3;
	 line-height: 20px;
	 background-color: rgba(197, 84, 40, 0.85);
	}

	.info-pane {
		margin-bottom: calc(1.5 * (#{$global-padding}));
		line-height: 24px;
		@include media-query($on-tablet) {
			width: 95%;
		}

		.info-pane-title {
			color: $brand-color;
			font: {
				family: $display-font-family;
				weight: $font-semi-bold;
			}

			.caption-number {
				color: $brand-color2;
				margin: 0 11px 0 -8px;
				background-color: rgba(255, 255, 255, 0.8);
				border: 1px solid $brand-color;
				border-radius: 20%;
				opacity: 1;
			}
		}

		.info-pane-content {
			margin-left: 26px;
			margin-top: -2px;
		}
	}

	.info-pane-list {
		width: calc(33.3333333333% - #{$global-padding});
		margin: $global-padding 0;
		@include media-query($on-tablet) {
			width: 100%;
			padding-left: 10px;
		}
	}

	.info-pane-row {
		@extend %flex-default;
		margin: $global-padding calc(-1 * 20px);
		justify-content: flex-end;
		@include media-query($on-tablet) {
			width: 100%;
			padding-left: 10px;
		}

		.info-pane {
			width: calc(33.3333333333% - (2 * 20px));
			margin: 0 20px;
			@include media-query($on-tablet) {
				width: 95%;
			}
		}

		&.archetypes {
			margin: -15px -13px 0;

			.info-archetype {
				margin: 13px;
				min-width: calc(188px - 26px);
				flex: 1 0 calc(20% - 26px);

				.info-pane-title {
					color: $brand-color;
					font: {
						family: $display-font-family;
						weight: $font-semi-bold;
					}
				}

				.info-pane-content {
					margin: 0;
				}
			}
		}
	}

	.new-section {
		margin-top: 120px;
	}

	.section-intro {
		margin: 60px 0 30px;
		font-size: 20px;

		h2 {
			color: $brand-color;
			margin-bottom: 10px;
			font: {
				weight: $font-semi-bold;
				size: 20px;
			}
			border-top: 2px solid $brand-color;
			display: inline-block;
		}

		p {
			font: {
				weight: $font-regular;
			}
			line-height: 32px;
		}
	}

	.testimonial-quote {
		margin: 20px auto 50px;
		padding: 20px 0 0;
		border-top: 1px dotted rgba(79, 93, 117, 0.2);
		border-bottom: 1px dotted rgba(79, 93, 117, 0.2);
		text-align: center;

		blockquote {
			color: $brand-color;
			font-size: 30px;
			text-transform: none;
		}

		p {
			color: $brand-color4;
			font-size: 16px;
			text-transform: uppercase;
			line-height: 45px;
		}
	}
}

/* #MENU */
.site-header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	background-color: rgba(255, 255, 255, 0.95);
	border-bottom: 1px solid $brand-color3;
	@include all-transition($transition-time);
	@include media-query($on-landscape) {
		background-color: transparent;
		border-bottom: none;
		position: absolute;
	}

	.hamburger {
		width: 22px;
		height: 22px;
		padding: 4px;
		cursor: pointer;
		position: fixed;
		top: 11px;
		left: 20px;
		display: none;
		background: {
			image: url('/assets/images/menu-icon-brand.svg');
			position: center center;
			size: 28px 28px;
			repeat: no-repeat;
			color: rgba(255, 255, 255, 0.95);
		}
		@include all-transition($transition-time);
		@include media-query($on-landscape) {
			display: block;
		}
	}

	.menu-wrapper {
		padding: 0.875em 0;
		margin-bottom: 0;
		@include project-sizer;
		font-size: 1em;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		@include media-query($on-landscape) {
			flex-flow: column wrap;
			align-items: center;
		}

		li {
			text-indent: 0;
			padding: 0;
			width: auto;
			&::before {
				content: "";
			}
			@include media-query($on-landscape) {
				font-size: 1.2em;
			}

			.masthead {
				font: {
					family: $display-font-family;
					weight: $font-semi-bold;
				}
				display: inline-block;
				letter-spacing: .03em;
				text-transform: uppercase;
				z-index: 1002;
				border-bottom: none;

				.masthead-title {
					font: {
						weight: $font-regular;
						size: 0.99em;
					}
					text-transform: none;
					color: $brand-color4;
					letter-spacing: 0;
					margin-top: -7px;
				}
			}

			&.menu-link {
				font: {
					family: $display-font-family;
					weight: $font-regular;
				}
				width: 200px;
				text-align: right;
				align-self: flex-end;
				margin-bottom: 1px;
				@include media-query($on-landscape) {
					margin-top: 30px;
					text-align: center;
					align-self: auto;
				}

				a {
					font-size: 0.99em;
					border-bottom: none;
					color: $brand-color4;
				}
			}
		}
	}

	&.outerpage {
		background-color: rgba(241, 245, 247, 0.95);

		&.bg-whitener {
			background-color: rgba(255, 255, 255, 0.95);
		}
	}

	&.toggle-menu {
		position: fixed;
		background-color: rgba(255, 255, 255, 0.95);
		border-bottom: 1px solid $brand-color3;

		.hamburger {
			opacity: 1;
			background-size: 8px 28px;
			-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
		}
	}
}

/* #FOOTER */
.page-footer {
	background-color: $brand-color3;
	position: relative;
	z-index: 2000;
	left: 0;

	.projects-container {
		@include project-sizer;

		h3.section-title {
			font: {
				size: 0.8em;
				weight: $font-regular;
			}
			text-transform: uppercase;
			padding-top: 20px;
			margin-bottom: 0;
		}

		.project-thumbnails {
			padding-bottom: 30px;
			margin: 0 calc(-1 * #{$global-padding});
			display: flex;
			flex-flow: row wrap;
		}
	}

	.project {
		margin: $global-padding;
		min-width: 180px;
		flex: 1 0 calc(20% - (2 * #{$global-padding}));
		height: 200px;

		.project-wrapper {
			width: 100%;
			height: 100%;

			.project-footer-image-box {
				height: 100%;
				width: 100%;
				position: relative;
				overflow: hidden;
			}
		}

		&.current {
			border: {
				color: rgba(216, 92, 43, 0.8);
				width: 2px;
				style: solid;
			}
		}

		&.fill-empty-space {
			display: none;
			height: 0;
			@include media-query($on-1100) {
				display: block;
			}
		}
	}

	.project-image {
		background: {
			position: 50% 50%;
			size: cover;
			color: $background-color;
			repeat: no-repeat;
		}
		position: relative;
		height: 100%;
		width: 100%;

		.project-title {
			font: {
				family: $display-font-family;
				weight: $font-semi-bold;
				size: 0.6875em;
			}
			top: 15px;
			left: 20px;
			opacity: 0.9;
			color: $brand-color;
			position: absolute;
			text-transform: uppercase;
			padding-right: 5px;
			background-color: $background-color;
		}

		.question-wrapper {
			position: absolute;
			left: 20px;
			bottom: 15px;

			.project-question {
				font-size: 1.15em;
			}
		}

		&::before {
			content: "";
			background: none;
		}
	}

	&.outerpage {
		@include project-sizer;
		margin-top: 0;
		background-color: $background-color;
		z-index: 500;
	}

	.social-links {
		max-width: 33%;
		margin-left: auto;
	  margin-right: auto;
	}
}

/* #Fancybox */
.fancybox-container {
	svg {
		color: $brand-color;
		background-color: $background-color;

		&::before {
			border-color: $background-color;
		}
	}

	.fancybox-toolbar button {
		background-color: $background-color;
	}

	.fancybox-navigation {
		.fancybox-button {
			padding: 10px;

			::before {
				background-color: transparent;
			}

			svg {
				color: $background-color;
				background-color: $brand-color;
			}
		}
	}

	.fancybox-bg {
	  background: $background-color;
	}

	.fancybox-stage {
	  bottom: 50px !important;

		.fancybox-image-wrap {
			border: 8px solid $background-color;
		}
	}

	.fancybox-caption-wrap {
  	padding: 0 200px;
		background: transparent;

		.fancybox-caption {
			padding-bottom: 30px;
			color: $grey-color;
			font-size: 16px;
			font-weight: $font-regular;
			text-align: center;
			border: none !important;
		}
	}
}

/*
* {
	outline: 1px solid red;
}
*/
