/* 1200px Media Queries */
@include media-query($on-desktop) {
	.hello-bio {
		padding: 30px 0
	}

	.project-thumbnails .project {
	  width: calc(50% - (2 * #{$global-padding}));
  }
}

/* 1100px Media Queries */
@media (max-width: 1100px) {
	.ui-image, .main-image {
		width: 100%;
		height: 0;
		padding-top: 50%;
		left: auto
	}
}

/* 780px Media Queries */
@include media-query($on-tablet) {
	.hello-section {
		min-height: auto;
		padding: 80px 10%;

		.hello-intro-bio {
			.hello-intro {
				font-size: 8vw;
				line-height: 10vw;
				margin: 4vh 0;
			}

			.hello-bio {
				padding: 20px 0;

				p {
					font-size: 3vw;
					line-height: 5vw;
					margin-bottom: 4vh
				}
			}
		}
	}

	.project-name {
		padding-top: 100px;
	}

	.stats > div {
		display: flex;
		flex-flow: row nowrap;
	}

	.stats > div > div {
		flex: 0 1 33.33333333333%;
	}
}

/* 640px Media Queries */
@include media-query($on-phone) {
	.hello-intro p {
		font-size: 34px;
		line-height: 35px;
		margin: 4vh 0
	}

	.hello-bio {
		margin-bottom: 40px;

		p {
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 4vh
		}
	}

	.project-thumbnails {
		.project {
			width: 100%;

			.project-image > div p a {
			  padding: 0 30px;
		  }
		}
	}

	.stats > div {
		flex-flow: column nowrap;
	}
}
