@charset "utf-8";

// Define defaults for each variable.

$base-font-family: 'Titillium Web', sans-serif !default;
$display-font-family: 'Encode Sans', sans-serif !default;
$base-font-size:   16px !default;
$font-lightest:   200 !default;
$font-light:      300 !default;
$font-regular:    400 !default;
$font-semi-bold:  600 !default;
$font-bold:       700 !default;
$base-font-weight: $font-light !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$grid-height:     8pt !default;

$spacing-unit:     30px !default;

$background-color: #fff !default;
$brand-color:      #C55428 !default;
$brand-color2:     #2D3142 !default;
$brand-color3:     #F1F5F7 !default;
$brand-color4:     #48556B !default;
$question-color:  rgba($background-color, 0.93) !default;
$link-hover-color: lighten($brand-color, 15%) !default;
$text-color:       $brand-color4 !default;

$grey-color:       #333 !default;

$table-text-align: left !default;

// Width of the content area
$on-376:      23.5em !default;   // 376px
$on-540:           33.75em !default;   // 540px
$on-680:     42.5em !default;   // 680px
$on-780:        48.75em !default;  // 780px
$content-width:    60em !default;     // 960px
$on-1024:          64em !default;     // 1024px
$on-1100:          68.75em !default;  // 1100px
$on-1200:       75em !default;     // 1200px

$global-padding:   1em !default;
$transition-time:  0.3s !default;
$snippet-height:   4.75em !default;


// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@mixin project-sizer {
  max-width: $content-width;
  margin-left: auto;
  margin-right: auto;
	padding-left: 10%;
  padding-right: 10%;
}

@mixin all-transition($interval) {
  -webkit-transition: $interval ease-out;
  -moz-transition: $interval ease-out;
  -ms-transition: $interval ease-out;
  -o-transition: $interval ease-out;
  transition: $interval ease-out;
}


@mixin transform-transition {
  -webkit-transition: -webkit-transform $transition-time ease;
  -moz-transition: -moz-transform $transition-time ease;
  -ms-transition: -ms-transform $transition-time ease;
  -o-transition: -o-transform $transition-time ease;
  transition: transform $transition-time ease;
}

// Import partials.
@import
  "base",
  "layout"
;
