---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// Generate background images for project thumbnails
{% for h in site.pages %}
  {% if h.layout == 'project' and h.draft != true %}
    {% if h.card == 'snippet' %}
      .{{ h.shortcode }} {
        .project-image {
          background-image: url('/assets/images/thumbnails/{{ h.shortcode }}-thumb-bg.jpg');
        }
      }
    {% else %}
      .{{ h.shortcode }} {
        .project-image {
          background-image: url('/assets/images/thumbnails/{{ h.shortcode }}-thumb-bg.jpg');

/*          &::after {
            background-image: url('/assets/images/thumbnails/{{ h.shortcode }}-thumb-bg.jpg');
          } */
        }

        .project-footer-image-box {
          .project-footer-image {
            background-image: url('/assets/images/thumbnails/{{ h.shortcode }}-thumb-bg.png');
          }
        }
      }
    {% endif %}
  {% endif %}
{% endfor %}
