---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

{% assign snippet_count = 0 %}

// Generate background images for project thumbnails
{% for h in site.pages %}
  {% if h.layout == 'project' and h.draft != true %}
    {% if h.card == 'snippet' %}
      {% if h.order >= snippet_count %}
        {% assign snippet_count = h.order %}
      {% endif %}
      .{{ h.shortcode }} {
        .project-image {
          background-image: url('/assets/images/thumbnails/{{ h.shortcode }}-thumb-bg.jpg');
        }
      }
    {% else %}
      .{{ h.shortcode }} {
        .project-image {
          background-image: url('/assets/images/thumbnails/{{ h.shortcode }}-thumb-bg.jpg');
        }

        .project-footer-image-box {
          .project-footer-image {
            background-image: url('/assets/images/thumbnails/{{ h.shortcode }}-thumb-bg.jpg');
          }
        }
      }
    {% endif %}
  {% endif %}
{% endfor %}

.snippet[style*="order: {{ snippet_count }}"] .title-wrapper {
  border: none;
}
