<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="outerpage">
      <section class="about-section scroll-watch">
        <div class="bio-container">
          <figure class="headshot">
            <img src="{{ site.imagepath }}dela.jpg" alt="Dela A. Kumahor">
            <figcaption class="bio-footer">
              {% include social.html %}
            </figcaption>
          </figure>
          <div class="bio">
            <h3>Designer <span class="grey-out">+</span> Researcher</h3>
            <p>
              <img src="{{ site.imagepath }}dela.jpg" alt="Dela A. Kumahor">
              I have well over a decade of experience practicing, advocating and mentoring human-centered design processes for clients and contexts as diverse as luxury furniture makers in central Italy to Community Health Nurses in Ghana.</p>
              <p>I&rsquo;ve lectured at Ashesi University, where I espoused and encouraged in his students the idea of Design – when treated holistically and technically – as the ultimate problem-solving pursuit, and co-founded The Cobalt Partners, a Design and Technology consulting firm in Accra, where he was also Partner and Design Lead until 2017.</p>
              <p>Get in touch with me for Product Management, UX/UI Design, Design Research and Workshop Facilitation. I&rsquo;m looking for both <mark>permanent and consulting opportunities</mark>, and am particularly open to <mark>working remotely</mark>. I&rsquo;m currently in Accra, Ghana (UTC ± 00:00).</p>
            <div class="logos image-grid-container">
              <h4 class="section-title">I&rsquo;ve done work for…</h4>
              <div class="logo-grid">
                <div class="logo-box">
                  <img  src="{{ site.imagepath }}logos/alcatel.png" alt="Alcatel-Lucent">
                </div>
                <div class="logo-box">
                  <img  src="{{ site.imagepath }}logos/avon.png" alt="Avon Walk for Breast Cancer">
                </div>
                <div class="logo-box">
                  <img  src="{{ site.imagepath }}logos/chocolonely.png" alt="Chocolonely Foundation">
                </div>
                <div class="logo-box">
                  <img  src="{{ site.imagepath }}logos/diebold.png" alt="Diebold">
                </div>
                <div class="logo-box">
                  <img  src="{{ site.imagepath }}logos/fido.png" alt="Fido Money Lending">
                </div>
                <div class="logo-box">
                  <img  src="{{ site.imagepath }}logos/grameen.png" alt="Grameen Foundation">
                </div>
                <div class="logo-box">
                  <img  src="{{ site.imagepath }}logos/mastercard.png" alt="Mastercard Foundation">
                </div>
                <div class="logo-box">
                  <img  src="{{ site.imagepath }}logos/peg.png" alt="PEG Africa">
                </div>
                <div class="logo-box">
                  <img  src="{{ site.imagepath }}logos/petra.png" alt="Petra Trust">
                </div>
                <div class="logo-box">
                  <img  src="{{ site.imagepath }}logos/pivotal.png" alt="Pivotal">
                </div>
                <div class="logo-box">
                  <img  src="{{ site.imagepath }}logos/frau.png" alt="Poltrona Frau">
                </div>
                <div class="logo-box">
                  <img  src="{{ site.imagepath }}logos/r4c.png" alt="Reach for Change">
                </div>
                <div class="logo-box">
                  <img  src="{{ site.imagepath }}logos/sedus.png" alt="Sedus">
                </div>
                <div class="logo-box">
                  <img  src="{{ site.imagepath }}logos/tecno.png" alt="Tecno spa">
                </div>
                <div class="logo-box">
                  <img  src="{{ site.imagepath }}logos/vodafone.png" alt="Vodafone Ghana">
                </div>
              </div>
            </div>
            <div class="dribbble image-grid-container">
              <h4 class="section-title">Dribbble Shots</h4>
              <div class="more-link">More on <a href='https://dribbble.com/delak' target='_blank'>Dribbble</a> »</div>
              <div class="image-grid">
                <div class="image-box">
                  <img src='https://cdn.dribbble.com/users/2143705/screenshots/4352017/gwiit1.jpg' alt='Life is a blur by Dela A. Kumahor on 500px.com'>
                  <a href='https://dribbble.com/shots/4352017-gwiit-logo' alt='GWIIT logo on Dribbble' target='_blank'></a>
                </div>
                <div class="image-box">
                  <img src='https://cdn.dribbble.com/users/2143705/screenshots/4352017/gwiit1.jpg' alt='Life is a blur by Dela A. Kumahor on 500px.com'>
                  <a href='https://dribbble.com/shots/4352017-gwiit-logo' alt='GWIIT logo on Dribbble' target='_blank'></a>
                </div>
                <div class="image-box">
                  <img src='https://cdn.dribbble.com/users/2143705/screenshots/4352017/gwiit1.jpg' alt='Life is a blur by Dela A. Kumahor on 500px.com'>
                  <a href='https://dribbble.com/shots/4352017-gwiit-logo' alt='GWIIT logo on Dribbble' target='_blank'></a>
                </div>
              </div>
            </div>
            <div class="five-oha-px image-grid-container">
              <h4 class="section-title">Photography</h4>
              <div class="more-link">More on <a href='https://500px.com/dak' target='_blank'>500px</a> »</div>
              <div class="image-grid">
                <div class="image-box">
                  <img src='https://drscdn.500px.org/photo/43586652/m%3D900/v2?user_id=40322&webp=true&sig=ceff95ded61aa228300b1d03863259fb086f99764ffb29a263888e359987dc7a' alt='Life is a blur by Dela A. Kumahor on 500px.com'>
                  <a href='https://500px.com/photo/43586652/life-is-a-blur-by-dela-a-kumahor' alt='Life is a blur by Dela A. Kumahor on 500px.com' target='_blank'></a>
                </div>
                <div class="image-box">
                  <img src='https://drscdn.500px.org/photo/3899447/m%3D900/v2?user_id=40322&webp=true&sig=c8ff24f43901bc9ade0a55e416a30d8ce586e46debeb2d42ad3f69525191b8ec' alt='convergence by Dela A. Kumahor on 500px.com'>
                  <a href='https://500px.com/photo/3899447/convergence-by-dela-a-kumahor' alt='convergence by Dela A. Kumahor on 500px.com' target='_blank'></a>
                </div>
                <div class='image-box'>
                  <img src='https://drscdn.500px.org/photo/6818255/m%3D900/v2?user_id=40322&webp=true&sig=34fe202b94ee1f1a5952dc5bc57fc551d42aa5b468495fe2b200c77213953238' alt='Untitled by Dela A. Kumahor on 500px.com'>
                  <a href='https://500px.com/photo/6818255/untitled-by-dela-a-kumahor' alt='Untitled by Dela A. Kumahor on 500px.com' target='_blank'></a>
                </div>
                <div class="image-box">
                  <img src='https://drscdn.500px.org/photo/404539/m%3D900/v2?user_id=40322&webp=true&sig=a40490ba6b93b828f3ba41da83a31c8799324d59db1472339c6e83cf42e8a357' alt='distance (the beggar) by Dela A. Kumahor on 500px.com'>
                  <a href='https://500px.com/photo/404539/distance-the-beggar-by-dela-a-kumahor' alt='distance (the beggar) by Dela A. Kumahor on 500px.com' target='_blank'></a>
                </div>
                <div class='image-box'>
                  <img src='https://drscdn.500px.org/photo/251076775/m%3D900/v2?user_id=40322&webp=true&sig=157165241672567e01065ac5228e93fcf29dc3327c019967996740c6c77d1ba9' alt='mother of four by Dela A. Kumahor on 500px.com'>
                  <a href='https://500px.com/photo/251076775/mother-of-four-by-dela-a-kumahor' alt='mother of four by Dela A. Kumahor on 500px.com' target='_blank'></a>
                </div>
                <div class="image-box">
                  <img src='https://drscdn.500px.org/photo/3899389/m%3D900/v2?user_id=40322&webp=true&sig=3be8f0b9721040e80d18af18cc6a27c5ef2dec34830c3176444ce4e6288b609e' alt='Lingotto by Dela A. Kumahor on 500px.com'>
                  <a href='https://500px.com/photo/3899389/lingotto-by-dela-a-kumahor' alt='Lingotto by Dela A. Kumahor on 500px.com' target='_blank'></a>
                </div>
                <div class="image-box">
                  <img src='https://drscdn.500px.org/photo/6818309/m%3D900/v2?user_id=40322&webp=true&sig=51eb283f0dbcbf74ddeece2070cc490c943d0d23b6e776f16ee36da24c7e714d' alt='beauty redefined by Dela A. Kumahor on 500px.com'>
                  <a href='https://500px.com/photo/6818309/beauty-redefined-by-dela-a-kumahor' alt='beauty redefined by Dela A. Kumahor on 500px.com' target='_blank'></a>
                </div>
                <div class='image-box'>
                  <img src='https://drscdn.500px.org/photo/404541/m%3D900/v2?user_id=40322&webp=true&sig=c6689f5298a89087a493c78df75bd248cc593bc55193a832f0e12f13dad45ad8' alt='Untitled by Dela A. Kumahor on 500px.com'>
                  <a href='https://500px.com/photo/404541/untitled-by-dela-a-kumahor' alt='Untitled by Dela A. Kumahor on 500px.com' target='_blank'></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    {% include footer.html %}

  </body>
</html>
