<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="outerpage">
      <section class="about-section scroll-watch">
        <div class="bio-container">
          <figure class="headshot">
            <img src="{{ site.imagepath }}dela.jpg" alt="Dela A. Kumahor">
          </figure>
          <div class="bio">
            <h2>About me</h2>
            <p><img src="{{ site.imagepath }}dela.jpg" alt="Dela A. Kumahor">I fell in love with Design a long time ago, building websites on 800x600 screens back when Adobe Flash was still a devastatingly cool thing (in my humble opinion). My foundations were built on Communication &amp; Interaction Design and Branding, but today – close to two decades of practice later – this is what I&rsquo;m focusing on:</p>
            <div class="services-container">
              <div class="service-box">
                <h4>Leadership</h4>
                <ul>
                  <li>Managing teams and processes</li>
                  <li>Project management</li>
                  <li>Mentoring</li>
                </ul>
              </div>
              <div class="service-box">
                <h4>Design Thinking</h4>
                <ul>
                  <li>Design sprints</li>
                  <li>Workshop facilitation</li>
                  <li>Business model design</li>
                  <li>Prototyping</li>
                </ul>
              </div>
              <div class="service-box">
                <h4>Research</h4>
                <ul>
                  <li>Planning and conducting ethnographic research</li>
                  <li>Synthesis</li>
                  <li>Concept testing</li>
                  <li>Usability testing</li>
                </ul>
              </div>
              <div class="service-box">
                <h4>Product Management</h4>
                <ul>
                  <li>Product strategy</li>
                  <li>Defining requirements</li>
                  <li>Interfacing with development teams</li>
                  <li>Agile development</li>
                </ul>
              </div>
              <div class="service-box">
                <h4>Customer Experience (CX)</h4>
                <ul>
                  <li>CX Measurement</li>
                  <li>Omni-channel customer support</li>
                  <li>Mapping operational workflows</li>
                </ul>
              </div>
              <div class="service-box">
                <h4>User Experience (UX) &amp; Service Design</h4>
                <ul>
                  <li>User flows</li>
                  <li>Journey mapping</li>
                  <li>Service blueprints</li>
                  <li>Information Architecture</li>
                  <li>Wireframing</li>
                </ul>
              </div>
            </div>
            <p><strong>Currently,</strong> I&rsquo;m helping to change the landscape of sustainable energy and mobility in Sub-Sharan Africa with the rest of the amazing team at <a href="https://kofa.co">Kofa</a>.</p>
            <hr>
            <div class="section-title">
              <h3>Résumé</h3>
            </div>
            <div class="resume">
              <h3>Work History</h3>
              <div class="resume-section">
                <div class="resume-block">
                  <h4>CX (Customer Experience) Consultant, Head of CX &amp; Digital Services</h4>
                  <h5>miLife Insurance (Accra, Ghana)</h5>
                  <h6>September 2018 – February 2020</h6>
                </div>
                <div class="resume-block">
                  <h4>Product &amp; UX Design Consultant</h4>
                  <h5>Self-Employed (Accra, Ghana)</h5>
                  <h6>September 2017 – June 2019</h6>
                </div>
                <div class="resume-block">
                  <h4>Partner &amp; Design Lead</h4>
                  <h5>The Cobalt Partners (Accra, Ghana)</h5>
                  <h6>February 2014 – September 2017</h6>
                </div>
                <div class="resume-block">
                  <h4>Lecturer, Adjunct Lecturer</h4>
                  <h5>Ashesi University (Berekuso, Ghana)</h5>
                  <h6>September 2012 – May 2015</h6>
                </div>
                <div class="resume-block">
                  <h4>Product &amp; UX Design Consultant</h4>
                  <h5>Self-Employed (Accra, Ghana)</h5>
                  <h6>July 2011 – January 2014</h6>
                </div>
                <div class="resume-block">
                  <h4>Interaction Designer &amp; Developer</h4>
                  <h5>Experientia (Turin, Italy)</h5>
                  <h6>November 2010 – June 2011</h6>
                </div>
                <div class="resume-block">
                  <h4>Designer &amp; Developer</h4>
                  <h5>Pierandrei Associati (Milan, Italy)</h5>
                  <h6>February 2009 – January 2010</h6>
                </div>
                <div class="resume-block">
                  <h4>Graphic Artist, Senior Graphic Designer</h4>
                  <h5>Philadelphia Housing Authority (Philadelphia, USA)</h5>
                  <h6>February 2003 – September 2006</h6>
                </div>
              </div>
              <h3>Education</h3>
              <div class="resume-section">
                <div class="resume-block">
                  <h4>Masters in Product-Service Systems Design</h4>
                  <h5>Politecnico di Milano (Milan, Italy)</h5>
                  <h6>September 2006 – July 2010</h6>
                </div>
                <div class="resume-block">
                  <h4>Progetto I-Nova</h4>
                  <h5>Scuola Politecnica di Design (Milan, Italy)</h5>
                  <h6>February 2008 – May 2008</h6>
                </div>
                <div class="resume-block">
                  <h4>Bachelor of Applied Science, Computer Science (concentration in Digital Media Design)</h4>
                  <h5>University of Pennsylvania (Philadelphia, USA)</h5>
                  <h6>September 1998 – May 2002</h6>
                </div>
              </div>
              <h3>Recent Speaking &amp; Facilitation Engagements</h3>
              <div class="resume-section speaking-section">
                <div class="resume-block">
                  <h5>Ghana Design Network & Butterfly Works Design Boost program</h5>
                  <h6>Design Project Management webinar; October 2020</h6>
                </div>
                <div class="resume-block">
                  <h5>YUX Design Academy</h5>
                  <h6>UX Research webinar; October 2020</h6>
                </div>
                <div class="resume-block">
                  <h5>Rising Design Conference, Dakar</h5>
                  <h6>Panelist and Speaker; January 2020</h6>
                </div>
                <div class="resume-block">
                  <h5>UX Lead &amp; Strategy Masterclass, Accra</h5>
                  <h6>Facilitator; December 2019</h6>
                </div>
                <div class="resume-block">
                  <h5>Ashesi Innovation Experience (AIX)</h5>
                  <h6>Lead Faculty for Design; 2014 – 2018</h6>
                </div>
                <div class="resume-block">
                  <h5>Student Entrepreneurship Week, Ghana</h5>
                  <h6>Business Development Masterclass; July 2018</h6>
                </div>
                <div class="resume-block">
                  <h5>Business Leadership Series, Vodafone Ghana</h5>
                  <h6>Speaker; June 2018</h6>
                </div>
                <div class="resume-block">
                  <h5>Design Thinking Ghana Conference</h5>
                  <h6>Program Chair; June 2018</h6>
                </div>
                <div class="resume-block">
                  <h5>Product Design Program at University of the Arts London: Central Saint Martins</h5>
                  <h6>Speaker; June 2018</h6>
                </div>
                <div class="resume-block">
                  <h5>AfriDesignX: Design Futures in Sub-Saharan Africa Conference</h5>
                  <h6>Speaker; May 2018</h6>
                </div>
                <div class="resume-block">
                  <h5>Meltwater Entrepreneurial School of Technology</h5>
                  <h6>Product Development Workshop Facilitator; May 2018</h6>
                </div>
                <div class="resume-block">
                  <h5>University of Professional Studies, Accra (UPSA) Enactus Success Summit</h5>
                  <h6>Speaker; March 2018</h6>
                </div>
                <div class="resume-block">
                  <h5>African Center for Economic Transformation</h5>
                  <h6>Design Thinking Workshop Facilitator; February 2018</h6>
                </div>
              </div>
            </div>
            <hr>
            <div class="section-title">
              <h3>Photography</h3>
            </div>
            <div class="five-oha-px image-grid-container">
              <div class="image-grid">
                <div class='image-box'>
                  <img src='https://drscdn.500px.org/photo/249686219/m%3D900/v2?user_id=40322&webp=true&sig=ed09e1cd902ba7ffa2b20c06f67023a4ee6707d7713da490b4611b9b7fd30360' alt='the plantain seller by Dela A. Kumahor on 500px.com'>
                  <a href='https://500px.com/photo/249686219/the-plantain-seller-by-dela-a-kumahor' alt='the plantain seller by Dela A. Kumahor on 500px.com' target='_blank'></a>
                  <p>the plantain seller</p>
                </div>
                <div class='image-box'>
                  <img src='https://drscdn.500px.org/photo/251076775/m%3D900/v2?user_id=40322&webp=true&sig=157165241672567e01065ac5228e93fcf29dc3327c019967996740c6c77d1ba9' alt='mother of four by Dela A. Kumahor on 500px.com'>
                  <a href='https://500px.com/photo/251076775/mother-of-four-by-dela-a-kumahor' alt='mother of four by Dela A. Kumahor on 500px.com' target='_blank'></a>
                  <p>mother of four</p>
                </div>
                <div class='image-box'>
                  <img src='https://drscdn.500px.org/photo/6818401/m%3D900/v2?sig=b45b5e1382980144a2704a2c30432c831fb3fbd3701bfb33c673175cb7ae27ed' alt='beachboats by Dela A. Kumahor on 500px.com'>
                  <a href='https://500px.com/photo/6818401/beachboats-by-Dela-A-Kumahor' alt='beachboats by Dela A. Kumahor on 500px.com' target="_blank"></a>
                  <p>beachboats</p>
                </div>
                <div class='image-box'>
                  <img src='https://drscdn.500px.org/photo/404541/m%3D900/v2?user_id=40322&webp=true&sig=c6689f5298a89087a493c78df75bd248cc593bc55193a832f0e12f13dad45ad8' alt='Untitled by Dela A. Kumahor on 500px.com'>
                  <a href='https://500px.com/photo/404541/untitled-by-dela-a-kumahor' alt='Untitled by Dela A. Kumahor on 500px.com' target='_blank'></a>
                  <p>untitled</p>
                </div>
                <div class="image-box">
                  <img src='https://drscdn.500px.org/photo/404539/m%3D900/v2?user_id=40322&webp=true&sig=a40490ba6b93b828f3ba41da83a31c8799324d59db1472339c6e83cf42e8a357' alt='distance (the beggar) by Dela A. Kumahor on 500px.com'>
                  <a href='https://500px.com/photo/404539/distance-the-beggar-by-dela-a-kumahor' alt='distance (the beggar) by Dela A. Kumahor on 500px.com' target='_blank'></a>
                  <p>distance (the beggar)</p>
                </div>
                <div class="image-box">
                  <img src='https://drscdn.500px.org/photo/43586652/m%3D900/v2?user_id=40322&webp=true&sig=ceff95ded61aa228300b1d03863259fb086f99764ffb29a263888e359987dc7a' alt='Life is a blur by Dela A. Kumahor on 500px.com'>
                  <a href='https://500px.com/photo/43586652/life-is-a-blur-by-dela-a-kumahor' alt='Life is a blur by Dela A. Kumahor on 500px.com' target='_blank'></a>
                  <p>life is a blur</p>
                </div>
                <div class='image-box'>
                  <img src='https://drscdn.500px.org/photo/271324585/m%3D900/v2?sig=dee4447044193de25290120baca9fd3efe9a941f88922c110c83406f06b774ed' alt='hours by Dela A. Kumahor on 500px.com'>
                  <a href='https://500px.com/photo/271324585/hours-by-Dela-A-Kumahor/' alt='hours by Dela A. Kumahor on 500px.com' target='_blank'></a>
                  <p>hours</p>
                </div>
                <div class="image-box">
                  <img src='https://drscdn.500px.org/photo/3899447/m%3D900/v2?user_id=40322&webp=true&sig=c8ff24f43901bc9ade0a55e416a30d8ce586e46debeb2d42ad3f69525191b8ec' alt='convergence by Dela A. Kumahor on 500px.com'>
                  <a href='https://500px.com/photo/3899447/convergence-by-dela-a-kumahor' alt='convergence by Dela A. Kumahor on 500px.com' target='_blank'></a>
                  <p>convergence</p>
                </div>
                <div class="image-box">
                  <img src='https://drscdn.500px.org/photo/251947317/m%3D900/v2?sig=f52fe582459528c9cd1f4d4c760c8d7deb4ce69ddd18844078fc267de9f0fc0a' alt='5 o&#39;clock shadow by Dela A. Kumahor on 500px.com'>
                  <a href='https://500px.com/photo/251947317/5-oclock-shadow-by-Dela-A-Kumahor' alt='5 o&#39;clock shadow by Dela A. Kumahor on 500px.com' target='_blank'></a>
                  <p>5 o&#39;clock shadow</p>
                </div>
                <div class="more-link">More on <a href='https://500px.com/dak' target='_blank'>500px</a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    {% include footer.html %}

  </body>
</html>
