<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="outerpage">
      <section class="hello-section">
        <div class="hello-intro-bio">
          <div class="hello-intro">
            Product<span class="grey-out slash-space">/</span><span class="tooltip">UX<span class="tooltiptext">User Experience</span></span><br>
            Designer <span class="grey-out">+</span> Researcher<span class="grey-out">.</span>
          </div>
          <div class="hello-bio">
            <p>I create human-centered, well-behaved products and services that people and businesses need by marrying design-doing with big picture perspective and strategy. I'm based in Accra, Ghana.</p><p>Find out more <a href="/about.html">about me</a>.</p>
          </div>
        </div>
      </section>
      <section class="project-section">
        <div class="projects-container">
          <div class="project-thumbnails">
          {% include project-grid.html %}
        </div>
          <div class="projects-panel">
            <h3 class="section-title">Project Work</h3>
            <ul>
              <li class="tag-all"><a href="#">All</a></li>
              <li class="tag-ui"><a href="#">UI Design</a></li>
          	  <li class="tag-research"><a href="#">UX Research</a></li>
          	  <li class="tag-branding"><a href="#">Branding</a></li>
          	  <li class="tag-comm"><a href="#">Communication Design</a></li>
          	  <li class="tag-web"><a href="#">Web Development</a></li>
          	  <li class="tag-service"><a href="#">Service Design</a></li>
            </ul>
          </div>
        </div>
      </section>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
    <script type="text/javascript">
     $("[data-fancybox]").fancybox({
       infobar : false,
       protect : true,
       thumbs : {
        autoStart   : true,
        hideOnClose : true
       },
       buttons : [
         'thumbs',
         'close'
       ]
     });
    </script>

  </body>
</html>
