<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="homepage">
    <main>
      <div class="hello-section">
        <div class="hello-intro-bio">
          <div class="site-header">
            <a class="masthead" href="http://delakumahor.com/">Dela A. Kumahor</a>
            <div class="header-bg"></div>
          </div>
          <div class="hello-intro">
            <div class="name-title">
               Product<span class="grey-out slash-space">/</span><span class="tooltip">UX<span class="tooltiptext">User Experience</span></span><span class="grey-out slash-space">/</span><span class="tooltip">UI<span class="tooltiptext">User Interface</span></span><br />
               Designer <span class="grey-out">+</span> Researcher<span class="grey-out">.</span>
            </div>
          </div>
          <div class="hello-bio">
            <p>I'm in the business of figuring out what people want and making sure they know it when they see and use it. My experience ranges over graphic and communication design, product design, branding and UX Research. I'm currently based in Ghana.</p>
            <p>Feel free to <a href="mailto:{{ site.email }}">email</a> me or find me on <a href="https://www.linkedin.com/in/dela-andy-kumahor-3aa5b44/" target="_blank">LinkedIn</a>, <a href="https://twitter.com/delak" target="_blank">Twitter</a> or <a href="https://www.instagram.com/delak/" target="_blank">Instagram</a>.</p>
          </div>
        </div>
      </div>
      <div class="project-section">
        <h3>Portfolio</h3>
        <div class="project-thumbnails">
          {% include project-grid.html %}
        </div>
      </div>
    </main>

        {% include footer.html %}

  </body>
</html>
