<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <main>
      <div class="hello-section">
        <div class="hello-intro-bio">
          <ul id="home-menu">
            <li>
              <a href="http://delakumahor.com/" target="_self">{{ site.title }}</a>
            </li>
          </ul>
          <div class="hello-intro">
            <div class="name-title">
               Product<span class="grey-out slash-space">/</span><span class="tooltip">UX<span class="tooltiptext">User Experience</span></span><span class="grey-out slash-space">/</span><span class="tooltip">UI<span class="tooltiptext">User Interface</span></span><br />
               Designer <span class="grey-out">+</span> Researcher<span class="grey-out">.</span>
            </div>
          </div>
          <div class="hello-bio">
            <p>I'm in the business of figuring out what people want and making sure they know it when they see and use it. My experience ranges over graphic and communication design, product design, branding and UX Research. I'm currently based in Ghana.</p>
            <p>Feel free to <a href="mailto:{{ site.email }}">email</a> me or find me on <a href="https://www.linkedin.com/in/dela-andy-kumahor-3aa5b44/" target="_blank">LinkedIn</a>, <a href="https://twitter.com/delak" target="_blank">Twitter</a> or <a href="https://www.instagram.com/delak/" target="_blank">Instagram</a>.</p>
          </div>
        </div>
      </div>
      <div class="project-section">
        <h3>Portfolio</h3>
        <div class="project-thumbnails">
          <div id="vfc" class="project">
            <div class="project-image-box">
              <div class="project-image">
              <div class="project-desc-box">
                <p>
                  <a href="http://delakumahor.com/vfc/"><br>
                    <span class="proj-desc">How might we connect smallholder farmers to critical information?</span>
                  </a>
                </p>
              </div>
            </div>
            </div>
            <div class="project-title">
              <a href="http://delakumahor.com/vfc/">Vodafone Farmers’ Club</a>
            </div>
            <div class="project-category">
              Service Design  <span class="type-divider">|</span>  UX Research  <span class="type-divider">|</span>  UI Design
            </div>
          </div>
          <div id="fido" class="project">
            <div class="project-image-box">
              <div class="project-image">
              <div class="project-desc-box">
                <p>
                  <a href="http://delakumahor.com/fido/"><br>
                    <span class="proj-desc">How might we make micro-loan applications more efficient for low-literate users?</span>
                  </a>
                </p>
              </div>
            </div>
            </div>
            <div class="project-title">
              <a href="http://delakumahor.com/fido/">Fido Money Lending</a>
            </div>
            <div class="project-category">
              UX Research  <span class="type-divider">|</span>  UI Design
            </div>
          </div>
          <div id="chnotg" class="project">
            <div class="project-image-box">
              <div class="project-image">
              <div class="project-desc-box">
                <p>
                  <a href="http://delakumahor.com/chnotg/"><br>
                    <span class="proj-desc">How can we help Community Health Nurses do a better job?</span>
                  </a>
                </p>
              </div>
            </div>
            </div>
            <div class="project-title">
              <a href="http://delakumahor.com/chnotg/">CHN On The Go</a>
            </div>
            <div class="project-category">
              UI Design
            </div>
          </div>
          <div id="alu" class="project">
            <div class="project-image-box">
              <div class="project-image">
              <div class="project-desc-box">
                <p>
                  <a href="http://delakumahor.com/alu/"><span class="proj-desc">What is the future of TV interfaces?</span></a>
                </p>
              </div>
            </div>
            </div>
            <div class="project-title">
              <a href="http://delakumahor.com/alu/">Alcatel-Lucent MiViewTV</a>
            </div>
            <div class="project-category">
              UI Design  <span class="type-divider">|</span>  Interactive Prototyping
            </div>
          </div>
          <div id="beta" class="project">
            <div class="project-image-box">
              <div class="project-image">
              <div class="project-desc-box">
                <p>
                  <a href="http://delakumahor.com/beta/"><br>
                    <span class="proj-desc">What is the future of the creative office?</span>
                  </a>
                </p>
              </div>
            </div>
            </div>
            <div class="project-title">
              <a href="http://delakumahor.com/beta/">beta unopuntozero</a>
            </div>
            <div class="project-category">
              Branding and Communication  <span class="type-divider">|</span>  UI Design  <span class="type-divider">|</span>  Web Development
            </div>
          </div>
        </div>
      </div>
    </main>

        {% include footer.html %}

  </body>

</html>
