<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="projectpage">

    {% include header.html %}

    <main>
      <section class="intro-container">
        <h3 class="project-name">{{ page.projectname }}</h3>
        <div class="full-width-image" style="background-image: url({{ site.imagepath }}{{ page.shortcode }}-masthead-bg.png)">
          <img  src="{{ site.imagepath }}{{ page.shortcode }}-masthead.png" alt="{{ page.projectname }}">
        </div>
        <div class="info-stats">
          <div class="project-info">
            {{ page.description }}
          </div>
          <div class="stats">
            <div class="stat">
              <div class="stat-title">Highlights</div>
              <div class="stat-value">{{ page.brief }}</div>
            </div>
          </div>
        </div>
      </section>
      <section class="write-up">

      {{ content }}

      </section>
    </main>

    {% include footer.html %}

	  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
    <script type="text/javascript">
     $("[data-fancybox]").fancybox({
       infobar : false,
       protect : true,
       buttons : [
         'thumbs',
         'close'
       ]
     });
    </script>

  </body>

</html>
