<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="projectpage">

    {% include header.html %}

    <main>
      <section class="intro-container">
        <div class="masthead-box">
          <div class="project-name">
            <h1>{{ page.projectname }}</h1>
          </div>
        </div>
        <div class="project-masthead-bg" style="background-image: url({{ site.imagepath }}mastheads/{{ page.shortcode }}-masthead-bg.png)">
          <div class="masthead-box">
            <div id="image4" class="intro-image" style="background-image: url({{ site.imagepath }}mastheads/{{ page.shortcode }}-masthead.png" alt="{{ page.projectname }})">
            </div>
          </div>
        </div>
        <div class="masthead-box">
          <div class="info-stats">
            <div class="project-info">
              {{ page.intro }}
            </div>
            <div class="stats">
              <div class="stat">
              <!--  <div class="stat-title">Highlights</div>  -->
                <div class="stat-value">{{ page.brief }}</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="write-up scroll-watch">

      {{ content }}

      </section>
    </main>

    {% include footer.html %}

	  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
    <script type="text/javascript">
     $("[data-fancybox]").fancybox({
       infobar : false,
       protect : true,
       buttons : [
         'thumbs',
         'close'
       ]
     });
    </script>

  </body>

</html>
