<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="outerpage">
      <section class="about-section scroll-watch">
        <div class="bio-container">
          <h2 class="headshot"><strong>Design<br>Researcher</strong><br>Needed</h2>
          <div class="bio">
            <p>Consultant will use human-centered design (also referred to as design research or design thinking) research methodology to probe, assess and evaluate behaviors of targeted groups of people and then translating that knowledge into meaningful information and system designs to inform and improve programs. Consultant will identify underlying cultural constructs and their expressions for specific groups of people, and identify the authentic connections within the ecosystem and help create breakthrough ideas.</p>
            <p>The right candidate will be able to lead design research projects, synthesize insights, translate these findings to catalyze design and strategic decisions, and collaborate with the team to turn those insights into powerful designs and visions.</p>
            <hr>
            <h1 style="color: #C55428">Requirements</h1>
            <ul>
              <li>Qualitative research experience, including scoping a research process, gathering insights from secondary research, conducting fieldwork, and conduct in-context interviews and observation.</li>
              <li>Ability to synthesise research insights towards the creation of design solutions</li>
              <li>Experience performing usability test and concept tests of products and applications of all kinds including mobile apps and services</li>
              <li>Ability to communicate insights, strategy and early design solutions into artifacts (journey maps, vision pieces, manifestos, concept illustrations, design principles)</li>
              <li>Ability to work flexibly and efficiently</li>
              <li>High comfort level with ambiguity; Openness to critique from other disciplines and curiosity to learn from a spectrum of perspectives</li>
              <li>Team spirit; strong communication skills to collaborate with various stakeholders</li>
              <li>Good time-management skills</li>
            </ul>
            <hr>
            <h1 style="color: #C55428">Duties</h1>
            <ul>
              <li>Coordinate and conduct qualitative customer interviews</li>
              <li>Plan, coordinate and conduct usability and concept tests</li>
              <li>Assist in the creation of reports and concept notes</li>
            </ul>
          </div>
        </div>
      </section>
    </main>

    {% include footer.html %}

  </body>
</html>
